interactions:
- request:
    body: '{"name": "Bar", "fallbackCode": null, "code": "bar-us"}'
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.1.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: POST
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/testing/locales
  response:
    body: {string: "{\n  \"name\":\"Bar\",\n  \"internal_code\":\"bar-us\",\n  \"code\":\"bar-us\",\n
        \ \"fallbackCode\":null,\n  \"default\":false,\n  \"contentManagementApi\":true,\n
        \ \"contentDeliveryApi\":true,\n  \"optional\":false,\n  \"sys\":{\n    \"type\":\"Locale\",\n
        \   \"id\":\"23GeDLZv4lyG6NJq5sg9T0\",\n    \"version\":1,\n    \"space\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"Space\",\n
        \       \"id\":\"facgnwwgj5fe\"\n      }\n    },\n    \"environment\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"Environment\",\n
        \       \"id\":\"testing\"\n      }\n    },\n    \"createdBy\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2018-06-13T09:44:17Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2018-06-13T09:44:17Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"e7d63eac813b59c45fa5de3e86b20869"]
      Location: ['https://api.contentful.com/spaces/facgnwwgj5fe/locales/23GeDLZv4lyG6NJq5sg9T0']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35990']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [b3464dc4fdc0565b22eb0de95edb4223]
      X-Iinfo: [3-7143168-7143175 NNNN CT(112 111 0) RT(1528883056458 74) q(0 0 2
          -1) r(5 5) U5]
    status: {code: 201, message: Created}
version: 1
