interactions:
- request:
    body: '{"fallbackCode": "en-US", "name": "Not Klingon", "optional": false, "contentDeliveryApi":
      true, "code": "tlg", "contentManagementApi": true}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      x-contentful-version: ['0']
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/locales/3OFlsZyYYM5fNhCtfFctX8
  response:
    body: {string: "{\n  \"name\":\"Not Klingon\",\n  \"internal_code\":\"tlg\",\n
        \ \"code\":\"tlg\",\n  \"fallbackCode\":\"en-US\",\n  \"default\":false,\n
        \ \"contentManagementApi\":true,\n  \"contentDeliveryApi\":true,\n  \"optional\":false,\n
        \ \"sys\":{\n    \"type\":\"Locale\",\n    \"id\":\"3OFlsZyYYM5fNhCtfFctX8\",\n
        \   \"version\":1,\n    \"space\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n      }\n
        \   },\n    \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2017-03-10T15:59:39Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2017-03-10T16:02:45Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"360a5c95f4b8ba5fe1dfc403ce644142"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35742']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [a0d911a29d56120423dea34a2c9e3d5d]
      X-Iinfo: [9-24895837-24895851 NNNN CT(84 81 0) RT(1489161764816 93) q(0 0 1
          -1) r(4 4) U5]
    status: {code: 200, message: OK}
version: 1
