interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; platform python/3.5.2; sdk contentful-management.py/1.3.1;]
    method: GET
    uri: https://api.contentful.com/spaces/orzkxlxlq59d/webhooks/16ypL3XjNK6oreLPPoVBxI/calls?limit=1
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"items\": [\n
        \   {\n      \"sys\": {\n        \"id\": \"4KYbXQ9cg8CE2aqouWqY2i\",\n        \"type\":
        \"WebhookCallOverview\",\n        \"space\": {\n          \"sys\": {\n            \"type\":
        \"Link\",\n            \"linkType\": \"Space\",\n            \"id\": \"orzkxlxlq59d\"\n
        \         }\n        },\n        \"createdBy\": {\n          \"sys\": {\n
        \           \"type\": \"Link\",\n            \"linkType\": \"WebhookDefinition\",\n
        \           \"id\": \"16ypL3XjNK6oreLPPoVBxI\"\n          }\n        },\n
        \       \"createdAt\": \"2017-06-21T22:44:42.624Z\"\n      },\n      \"statusCode\":
        201,\n      \"responseAt\": \"2017-06-21T22:44:43.086Z\",\n      \"errors\":
        [],\n      \"eventType\": \"publish\",\n      \"url\": \"https://circleci.com/api/v1/project/...\",\n
        \     \"requestAt\": \"2017-06-21T22:44:42.624Z\"\n    }\n  ],\n  \"skip\":
        0,\n  \"limit\": 1,\n  \"total\": 1\n}"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35979']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [ff96c22dbac5eeec9580f22947888f62]
      X-Iinfo: [10-20108095-20108119 NNNN CT(0 0 0) RT(1498166991884 117) q(0 0 0
          1) r(37 37) U5]
    status: {code: 200, message: OK}
version: 1
