interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; os macOS/16.5.0;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/spaces/orzkxlxlq59d/webhooks/16ypL3XjNK6oreLPPoVBxI/calls/4KYbXQ9cg8CE2aqouWqY2i
  response:
    body: {string: "{\n  \"sys\": {\n    \"id\": \"4KYbXQ9cg8CE2aqouWqY2i\",\n    \"type\":
        \"WebhookCallDetails\",\n    \"space\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"Space\",\n        \"id\": \"orzkxlxlq59d\"\n
        \     }\n    },\n    \"createdBy\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"WebhookDefinition\",\n        \"id\": \"16ypL3XjNK6oreLPPoVBxI\"\n
        \     }\n    },\n    \"createdAt\": \"2017-06-21T22:44:42.624Z\"\n  },\n  \"request\":
        {\n    \"url\": \"https://circleci.com/api/v1/project/...\",\n
        \   \"method\": \"POST\",\n    \"headers\": {\n      \"X-Contentful-Topic\":
        \"ContentManagement.Entry.publish\",\n      \"X-Contentful-Webhook-Name\":
        \"CircleCI\",\n      \"Content-Type\": \"application/vnd.contentful.management.v1+json\"\n
        \   },\n    \"body\": \"{\\\"sys\\\":{\\\"space\\\":{ ... }
        \"\n  },\n
        \ \"response\": {\n    \"url\": \"https://circleci.com/api/v1/project/...\",\n
        \   \"body\": \"{:previous_successful_build nil, ...\",\n    \"headers\": {\n      \"date\":
        \"Wed, 21 Jun 2017 22:44:26 GMT\",\n      \"location\": \"https://circleci.com/api/v1/...\",\n
        \     \"server\": \"nginx\",\n      \"strict-transport-security\":
        \"max-age=15724800\",\n
        \     \"x-circleci-scopes\": \":write-settings, :view-builds, :read-settings,
        :trigger-builds, :all, :status, :none\",\n      \"x-frame-options\": \"DENY\",\n
        \     \"x-route\": \"/tree/:branch, :branch, [^,;?]+\",\n      \"content-length\":
        \"2221\",\n      \"connection\": \"Close\"\n    },\n    \"statusCode\": 201\n
        \ },\n  \"statusCode\": 201,\n  \"responseAt\": \"2017-06-21T22:44:43.086Z\",\n
        \ \"errors\": [],\n  \"eventType\": \"publish\",\n  \"url\": \"https://circleci.com/api/v1/project/...\",\n
        \ \"requestAt\": \"2017-06-21T22:44:42.624Z\"\n}"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35991']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [2a295c0edfeac12ebb1584cca9bb1e77]
      X-Iinfo: [5-17076094-17076105 NNNN CT(133 136 0) RT(1498167163635 124) q(0 0
          3 -1) r(36 36) U5]
    status: {code: 200, message: OK}
version: 1
