interactions:
- request:
    body: '{"fields": {"name": {"en-US": "test"}}}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      x-contentful-content-type: [foo]
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/entries/id_create_content_type_proxy_test
  response:
    body: {string: "{\n  \"fields\": {\n    \"name\": {\n      \"en-US\": \"test\"\n
        \   }\n  },\n  \"sys\": {\n    \"id\": \"id_create_content_type_proxy_test\",\n
        \   \"type\": \"Entry\",\n    \"version\": 1,\n    \"createdAt\": \"2017-03-10T15:31:07.025Z\",\n
        \   \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"facgnwwgj5fe\"\n      }\n    },\n    \"contentType\": {\n
        \     \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"ContentType\",\n
        \       \"id\": \"foo\"\n      }\n    },\n    \"updatedAt\": \"2017-03-10T15:31:07.025Z\",\n
        \   \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"662081c6ba2c0b93605dd21b858c2c37"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35862']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['8']
      X-Contentful-Request-Id: [1cf5612d78078246bc97363e3cc4de2d]
      X-Iinfo: [1-5869628-5869496 PNNN RT(1489159866185 91) q(0 0 0 -1) r(2 2) U5]
    status: {code: 201, message: Created}
version: 1
