interactions:
- request:
    body: '{"fields": {}}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      x-contentful-content-type: [foo]
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/id_create_content_type_empty
  response:
    body: {string: "{\n  \"fields\": {},\n  \"sys\": {\n    \"id\": \"id_create_content_type_empty\",\n
        \   \"type\": \"Entry\",\n    \"version\": 1,\n    \"createdAt\": \"2017-03-10T15:44:46.785Z\",\n
        \   \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"facgnwwgj5fe\"\n      }\n    },\n    \"contentType\": {\n
        \     \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"ContentType\",\n
        \       \"id\": \"foo\"\n      }\n    },\n    \"updatedAt\": \"2017-03-10T15:44:46.785Z\",\n
        \   \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"b76753a5af94c02113f7d0884e88f73f"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35815']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [28dbfdfe78077e49525f9918f5d183ad]
      X-Iinfo: [4-20800784-20800792 NNNN CT(78 80 0) RT(1489160685769 94) q(0 0 2
          -1) r(4 4) U5]
    status: {code: 201, message: Created}
version: 1
