interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.5.2; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/5gQdVmPHKwIk2MumquYwOu
  response:
    body: {string: "{\n  \"sys\": {\n    \"space\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"Space\",\n        \"id\": \"facgnwwgj5fe\"\n
        \     }\n    },\n    \"id\": \"5gQdVmPHKwIk2MumquYwOu\",\n    \"type\": \"Entry\",\n
        \   \"createdAt\": \"2017-03-02T18:47:44.195Z\",\n    \"updatedAt\": \"2017-03-10T15:58:29.870Z\",\n
        \   \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"publishedCounter\":
        1,\n    \"version\": 4,\n    \"firstPublishedAt\": \"2017-03-10T15:58:05.418Z\",\n
        \   \"contentType\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"ContentType\",\n        \"id\": \"test\"\n      }\n    }\n  },\n  \"fields\":
        {\n    \"name\": {\n      \"en-US\": \"something else\"\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"11406873859f955474102aa05ae465bf"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [3ba0c647a67597ce1cf4bf48d71e543b]
      X-Iinfo: [9-43656691-43656707 NNNN CT(88 88 0) RT(1519901649722 84) q(0 0 1
          -1) r(9 9) U5]
    status: {code: 200, message: OK}
version: 1
