interactions:
- request:
    body: '{"fields": {"name": {"en-US": "foobar"}}}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      x-contentful-content-type: [foo]
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/entries/id_create_entry_test
  response:
    body: {string: "{\n  \"fields\": {\n    \"name\": {\n      \"en-US\": \"foobar\"\n
        \   }\n  },\n  \"sys\": {\n    \"id\": \"id_create_entry_test\",\n    \"type\":
        \"Entry\",\n    \"version\": 1,\n    \"createdAt\": \"2017-03-10T15:47:32.138Z\",\n
        \   \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"facgnwwgj5fe\"\n      }\n    },\n    \"contentType\": {\n
        \     \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"ContentType\",\n
        \       \"id\": \"foo\"\n      }\n    },\n    \"updatedAt\": \"2017-03-10T15:47:32.138Z\",\n
        \   \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"b325a9ba66f481404a24006a8581b5d2"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35808']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [c8b873b09b17e1a17bc4e71d1bea342e]
      X-Iinfo: [4-20821514-20821527 NNNN CT(78 78 0) RT(1489160851127 92) q(0 0 1
          -1) r(4 4) U5]
    status: {code: 201, message: Created}
version: 1
