interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [platform python/3.5.2; os macOS/16.5.0; sdk contentful-management.py/1.3.1;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/4dI1y4PKdWWCSC0CwQakOa/snapshots
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"items\": [\n
        \   {\n      \"sys\": {\n        \"type\": \"Snapshot\",\n        \"snapshotType\":
        \"publish\",\n        \"snapshotEntityType\": \"Entry\",\n        \"id\":
        \"7ohZjlae5pmiCsbviCFvds\",\n        \"createdAt\": \"2017-03-10T13:38:59.419Z\",\n
        \       \"createdBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"updatedAt\": \"2017-03-10T13:38:59.419Z\",\n
        \       \"updatedBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"space\": {\n          \"sys\": {\n            \"type\":
        \"Link\",\n            \"linkType\": \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n
        \         }\n        }\n      },\n      \"snapshot\": {\n        \"fields\":
        {\n          \"name\": {\n            \"en-US\": \"foobar\"\n          }\n
        \       },\n        \"sys\": {\n          \"id\": \"4dI1y4PKdWWCSC0CwQakOa\",\n
        \         \"type\": \"Entry\",\n          \"createdAt\": \"2017-03-02T18:49:22.569Z\",\n
        \         \"createdBy\": {\n            \"sys\": {\n              \"type\":
        \"Link\",\n              \"linkType\": \"User\",\n              \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \           }\n          },\n          \"space\": {\n            \"sys\":
        {\n              \"type\": \"Link\",\n              \"linkType\": \"Space\",\n
        \             \"id\": \"facgnwwgj5fe\"\n            }\n          },\n          \"contentType\":
        {\n            \"sys\": {\n              \"type\": \"Link\",\n              \"linkType\":
        \"ContentType\",\n              \"id\": \"test\"\n            }\n          },\n
        \         \"version\": 2,\n          \"updatedAt\": \"2017-03-10T13:38:59.406Z\",\n
        \         \"updatedBy\": {\n            \"sys\": {\n              \"type\":
        \"Link\",\n              \"linkType\": \"User\",\n              \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \           }\n          },\n          \"firstPublishedAt\": \"2017-03-10T13:38:59.406Z\",\n
        \         \"publishedCounter\": 1,\n          \"publishedAt\": \"2017-03-10T13:38:59.406Z\",\n
        \         \"publishedBy\": {\n            \"sys\": {\n              \"type\":
        \"Link\",\n              \"linkType\": \"User\",\n              \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \           }\n          },\n          \"publishedVersion\": 1\n        }\n
        \     }\n    }\n  ],\n  \"skip\": 0,\n  \"limit\": 100\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"31b24ac14b84e197bd761ad0e159eef8"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35997']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [f517361ef8b9837a7ffa17e616c1b0c2]
      X-Iinfo: [1-2860654-2860699 NNNN CT(142 290 0) RT(1498494686749 549) q(0 0 5
          0) r(44 44) U5]
    status: {code: 200, message: OK}
version: 1
