interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.6.1; platform python/3.7.2;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/3fTNzlQsDmge6YQEikEuME
  response:
    body: {string: "{\n  \"sys\": {\n    \"space\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"Space\",\n        \"id\": \"facgnwwgj5fe\"\n
        \     }\n    },\n    \"id\": \"3fTNzlQsDmge6YQEikEuME\",\n    \"type\": \"Entry\",\n
        \   \"createdAt\": \"2017-06-15T14:23:07.028Z\",\n    \"updatedAt\": \"2017-06-15T14:28:46.345Z\",\n
        \   \"environment\": {\n      \"sys\": {\n        \"id\": \"master\",\n        \"type\":
        \"Link\",\n        \"linkType\": \"Environment\"\n      }\n    },\n    \"createdBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"publishedCounter\":
        1,\n    \"version\": 12,\n    \"publishedBy\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"publishedVersion\": 10,\n    \"firstPublishedAt\":
        \"2017-06-15T14:23:17.640Z\",\n    \"publishedAt\": \"2017-06-15T14:23:17.641Z\",\n
        \   \"contentType\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"ContentType\",\n        \"id\": \"missingFields\"\n      }\n    }\n  },\n
        \ \"fields\": {\n    \"name\": {\n      \"en-US\": \"A Name\"\n    },\n    \"other\":
        {\n      \"en-US\": \"Other Stuff\"\n    },\n    \"different\": {\n      \"en-US\":
        \"A Different Field\"\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      Contentful-Api: [cma]
      ETag: ['"bbf0ab827d2707d733b376e4276110a4"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [57159535b862ce11d7e7dd5b7d01e8ab]
      X-Iinfo: [11-7811405-7811006 PNNN RT(1549880302422 53) q(0 0 0 -1) r(2 2) U5]
    status: {code: 200, message: OK}
version: 1
