interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.6.1; platform python/3.7.2;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/IJLRrADsqq2AmwcugoYeK
  response:
    body: {string: "{\n  \"sys\": {\n    \"space\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"Space\",\n        \"id\": \"facgnwwgj5fe\"\n
        \     }\n    },\n    \"id\": \"IJLRrADsqq2AmwcugoYeK\",\n    \"type\": \"Entry\",\n
        \   \"createdAt\": \"2017-05-08T14:06:14.367Z\",\n    \"updatedAt\": \"2017-05-09T13:39:59.063Z\",\n
        \   \"environment\": {\n      \"sys\": {\n        \"id\": \"master\",\n        \"type\":
        \"Link\",\n        \"linkType\": \"Environment\"\n      }\n    },\n    \"createdBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"publishedCounter\":
        16,\n    \"version\": 57,\n    \"publishedBy\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"publishedVersion\": 56,\n    \"firstPublishedAt\":
        \"2017-05-08T14:06:25.154Z\",\n    \"publishedAt\": \"2017-05-09T13:39:59.032Z\",\n
        \   \"contentType\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"ContentType\",\n        \"id\": \"cat\"\n      }\n    }\n  },\n  \"fields\":
        {\n    \"name\": {\n      \"en-US\": \"Fat Cat\"\n    },\n    \"lives\": {\n
        \     \"en-US\": 1337\n    },\n    \"bestFriend\": {\n      \"en-US\": {\n
        \       \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"Entry\",\n          \"id\": \"cq0MrAkH8A0Q8QsYquwMq\"\n        }\n      }\n
        \   }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      Contentful-Api: [cma]
      ETag: ['"eda08a4d4a8f6ee99538957dea88de55"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [35344c644a3df5a19169c0e4a1edce39]
      X-Iinfo: [10-5470943-5470948 NNNN CT(0 0 0) RT(1549880299970 45) q(0 0 0 -1)
          r(22 22) U5]
    status: {code: 200, message: OK}
version: 1
