interactions:
- request:
    body: '{"fields": {"name": {"en-US": "something else"}}}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      x-contentful-content-type: [foo]
      x-contentful-version: ['1']
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/entries/1dYTHwMZlU2wm88SA8I2Q0
  response:
    body: {string: "{\n  \"fields\": {\n    \"name\": {\n      \"en-US\": \"something
        else\"\n    }\n  },\n  \"sys\": {\n    \"id\": \"1dYTHwMZlU2wm88SA8I2Q0\",\n
        \   \"type\": \"Entry\",\n    \"createdAt\": \"2017-03-10T15:22:12.924Z\",\n
        \   \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"facgnwwgj5fe\"\n      }\n    },\n    \"contentType\": {\n
        \     \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"ContentType\",\n
        \       \"id\": \"foo\"\n      }\n    },\n    \"version\": 2,\n    \"updatedAt\":
        \"2017-03-10T15:56:21.714Z\",\n    \"updatedBy\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"1cccf5ec741b968cea7366fdfd3d25fb"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35776']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [6ad6dff20304aade77552d4799cedd64]
      X-Iinfo: [4-21576422-21576192 PNNN RT(1489161362375 363) q(0 0 0 -1) r(34 34)
          U5]
    status: {code: 200, message: OK}
version: 1
