interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.2.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/0drrop6zxj19/environments/master/entries/12FblJur9AWcUwA2k2IGCQ
  response:
    body: {string: "{\n  \"sys\": {\n    \"space\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"Space\",\n        \"id\": \"0drrop6zxj19\"\n
        \     }\n    },\n    \"id\": \"12FblJur9AWcUwA2k2IGCQ\",\n    \"type\": \"Entry\",\n
        \   \"createdAt\": \"2018-08-29T14:58:26.939Z\",\n    \"updatedAt\": \"2018-08-29T14:58:31.525Z\",\n
        \   \"environment\": {\n      \"sys\": {\n        \"id\": \"master\",\n        \"type\":
        \"Link\",\n        \"linkType\": \"Environment\"\n      }\n    },\n    \"createdBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"publishedCounter\":
        1,\n    \"version\": 4,\n    \"publishedBy\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"publishedVersion\": 3,\n    \"firstPublishedAt\": \"2018-08-29T14:58:31.524Z\",\n
        \   \"publishedAt\": \"2018-08-29T14:58:31.525Z\",\n    \"contentType\": {\n
        \     \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"ContentType\",\n
        \       \"id\": \"test\"\n      }\n    }\n  },\n  \"fields\": {\n    \"name\":
        {\n      \"en-US\": \"Foo\"\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      Contentful-Api: [cma]
      ETag: ['"e1ebe40ef4b84dc91900bc0b2ba26e37"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35998']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [cd84e6e1b7d58bb0ef57445f51e9ff1c]
      X-Iinfo: [10-5075472-5075482 NNNN CT(0 0 0) RT(1535556758352 80) q(0 0 0 -1)
          r(10 10) U5]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.2.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/0drrop6zxj19/environments/master/content_types/test
  response:
    body: {string: "{\n  \"sys\": {\n    \"space\": {\n      \"sys\": {\n        \"type\":
        \"Link\[...]
- request:
    body: '{"fields": {"name": {"en-US": "Foo", "es-AR": "Bar"}}}'
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.2.0; platform python/3.6.3;
          os macOS/16.7.0;]
      x-contentful-content-type: [test]
      x-contentful-version: ['4']
    method: PUT
    uri: https://api.contentful.com/spaces/0drrop6zxj19/environments/master/entries/12FblJur9AWcUwA2k2IGCQ
  response:
    body: {string: "{\n  \"sys\": {\n    \"space\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"Space\",\n        \"id\": \"0drrop6zxj19\"\n
        \     }\n    },\n    \"id\": \"12FblJur9AWcUwA2k2IGCQ\",\n    \"type\": \"Entry\",\n
        \   \"createdAt\": \"2018-08-29T14:58:26.939Z\",\n    \"updatedAt\": \"2018-08[...]
[...]
