interactions:
- request:
    body: '{"prefLabel": {"en-US": "Home Products"}, "definition": {"en-US": ""},
      "topConcepts": [], "concepts": []}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.15.0; platform python/3.12.7; os macOS/25.1.0;
    method: PUT
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concept-schemes/2s0F7127ajju1AoMaCtE
  response:
    body:
      string: '{"sys":{"id":"2s0F7127ajju1AoMaCtE","type":"TaxonomyConceptScheme","createdAt":"2025-12-17T02:13:46.765Z","updatedAt":"2025-12-17T02:13:46.765Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"topConcepts":[],"concepts":[],"totalConcepts":0,"prefLabel":{"en-US":"Home
        Products"},"definition":{"en-US":""}}'
    headers:
      content-type:
      - application/vnd.contentful.management.v1+json
      contentful-api:
      - cma
      contentful-upstream:
      - taxonomy-service
      x-contentful-ratelimit-reset:
      - '0'
      x-contentful-ratelimit-second-limit:
      - '10'
      x-contentful-ratelimit-second-remaining:
      - '9'
      x-contentful-request-id:
      - 5fc1da20-658c-4972-9844-f3d5251748ff
    status:
      code: 201
      message: ''
version: 1
