interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/24.6.0;
    method: GET
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concept-schemes/homeProducts
  response:
    body:
      string: '{"sys":{"id":"homeProducts","type":"TaxonomyConceptScheme","createdAt":"2025-09-14T05:51:19.072Z","updatedAt":"2025-09-14T05:54:42.547Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":2},"uri":null,"topConcepts":[{"sys":{"id":"livingRoom","type":"Link","linkType":"TaxonomyConcept"}}],"concepts":[{"sys":{"id":"livingRoom","type":"Link","linkType":"TaxonomyConcept"}}],"totalConcepts":1,"prefLabel":{"en-US":"Home
        Products"},"definition":{"en-US":"Show home products"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      x-contentful-request-id:
      - b7ca2381-2055-4dd2-9012-cf2cff200b10
      x-contentful-route:
      - /organizations/:organizationId/taxonomy/concept-schemes/:id
    status:
      code: 200
      message: OK
- request:
    body: '[{"op": "replace", "path": "/prefLabel/en-US", "value": "Updated Home Products"}]'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/json-patch+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/24.6.0;
      X-Contentful-Version:
      - '2'
    method: PATCH
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concept-schemes/homeProducts
  response:
    body:
      string: '{"sys":{"id":"homeProducts","type":"TaxonomyConceptScheme","createdAt":"2025-09-14T05:51:19.072Z","updatedAt":"2025-09-14T06:24:22.460Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"upda[...]
