interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; sdk contentful-management.py/1.3.1;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/spaces/orzkxlxlq59d/webhooks/16ypL3XjNK6oreLPPoVBxI/health
  response:
    body: {string: "{\n  \"sys\": {\n    \"id\": \"16ypL3XjNK6oreLPPoVBxI\",\n    \"type\":
        \"Webhook\",\n    \"space\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"Space\",\n        \"id\": \"orzkxlxlq59d\"\n      }\n
        \   },\n    \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"WebhookDefinition\",\n        \"id\": \"16ypL3XjNK6oreLPPoVBxI\"\n
        \     }\n    }\n  },\n  \"calls\": {\n    \"total\": 151,\n    \"healthy\":
        151\n  }\n}"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [a61f34214b629f6f44626e44036fa0f2]
      X-Iinfo: [4-7929868-7929974 NNNN CT(140 139 0) RT(1498488830438 692) q(0 0 3
          2) r(49 49) U5]
    status: {code: 200, message: OK}
version: 1
