interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer CFPAT-fc47e13307c8243e01427a76917a69f2fe00da457f382a2be5b47cd328011cda]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; sdk contentful-management.py/1.3.1;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/spaces/orzkxlxlq59d/webhooks/16ypL3XjNK6oreLPPoVBxI/health
  response:
    body: {string: "{\n  \"sys\": {\n    \"id\": \"16ypL3XjNK6oreLPPoVBxI\",\n    \"type\":
        \"Webhook\",\n    \"space\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"Space\",\n        \"id\": \"orzkxlxlq59d\"\n      }\n
        \   },\n    \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"WebhookDefinition\",\n        \"id\": \"16ypL3XjNK6oreLPPoVBxI\"\n
        \     }\n    }\n  },\n  \"calls\": {\n    \"total\": 151,\n    \"healthy\":
        151\n  }\n}"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35989']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [2f784417a087230b84f57cb47647a96b]
      X-Iinfo: [8-7223762-7223827 NNNN CT(132 273 0) RT(1498490780894 489) q(0 0 4
          2) r(39 39) U5]
    status: {code: 200, message: OK}
version: 1
