interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer CFPAT-c45d3251222230891f7502f3a27de152e5c59860e6decd023867160fb5f1b831]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; platform python/3.5.2;
          os macOS/16.5.0;]
    method: GET
    uri: https://api.contentful.com/spaces/orzkxlxlq59d/webhooks/16ypL3XjNK6oreLPPoVBxI/health
  response:
    body: {string: "{\n  \"sys\": {\n    \"id\": \"16ypL3XjNK6oreLPPoVBxI\",\n    \"type\":
        \"Webhook\",\n    \"space\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"Space\",\n        \"id\": \"orzkxlxlq59d\"\n      }\n
        \   },\n    \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"WebhookDefinition\",\n        \"id\": \"16ypL3XjNK6oreLPPoVBxI\"\n
        \     }\n    }\n  },\n  \"calls\": {\n    \"total\": 168,\n    \"healthy\":
        168\n  }\n}"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35984']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [8a7d549e1d1c3f71aad1efcce2c4e399]
      X-Iinfo: [2-1189715-1189731 NNNN CT(131 132 0) RT(1499350721992 146) q(0 0 3
          -1) r(5 5) U5]
    status: {code: 200, message: OK}
version: 1
