alabaster==0.7.12
Babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
coverage==4.3.4
docutils==0.16
flake8==3.8.4
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.3
python-dateutil==2.6.0
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
tox==2.5.0
urllib3==1.26.3
vcrpy==1.10.3
virtualenv==15.1.0
wrapt==1.12.1
