interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer CFPAT-c45d3251222230891f7502f3a27de152e5c59860e6decd023867160fb5f1b831]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; platform python/3.5.2;
          os macOS/16.5.0;]
    method: GET
    uri: https://api.contentful.com/users/me
  response:
    body: {string: "{\n  \"firstName\":\"David\",\n  \"lastName\":\"Litvak Bruno\",\n
        \ \"avatarUrl\":\"https://avatars.githubusercontent.com/u/1032706?v=3\",\n
        \ \"email\":\"david.litvak@contentful.com\",\n  \"activated\":true,\n  \"signInCount\":23,\n
        \ \"confirmed\":true,\n  \"sys\":{\n    \"type\":\"User\",\n    \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\",\n
        \   \"version\":35,\n    \"createdAt\":\"2015-09-17T23:13:27Z\",\n    \"updatedAt\":\"2017-06-26T17:17:14Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"369a5555c2dbb33ba2c7a0a7f38ad30f"]
      X-CDN: [Incapsula]
      X-Contentful-Request-Id: [580d2c0b1957892a7983f97afe871001]
      X-Iinfo: [5-2995274-2995290 NNNN CT(0 0 0) RT(1499350718996 131) q(0 0 0 -1)
          r(2 2) U5]
    status: {code: 200, message: OK}
version: 1
