interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; sdk contentful-management.py/1.3.1;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/users/me
  response:
    body: {string: "{\n  \"firstName\":\"David\",\n  \"lastName\":\"Litvak Bruno\",\n
        \ \"avatarUrl\":\"https://avatars.githubusercontent.com/u/1032706?v=3\",\n
        \ \"email\":\"david.litvak@contentful.com\",\n  \"activated\":true,\n  \"signInCount\":23,\n
        \ \"confirmed\":true,\n  \"sys\":{\n    \"type\":\"User\",\n    \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\",\n
        \   \"version\":35,\n    \"createdAt\":\"2015-09-17T23:13:27Z\",\n    \"updatedAt\":\"2017-06-26T17:17:14Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"369a5555c2dbb33ba2c7a0a7f38ad30f"]
      X-CDN: [Incapsula]
      X-Contentful-Request-Id: [9c86ccfb88357fe0669af251b56afb4e]
      X-Iinfo: [10-30909098-30909124 NNNN CT(133 134 0) RT(1498758385095 103) q(0
          0 3 0) r(5 5) U5]
    status: {code: 200, message: OK}
version: 1
