interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; sdk contentful-management.py/1.3.1;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/entries/4dI1y4PKdWWCSC0CwQakOa/snapshots
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"items\": [\n
        \   {\n      \"sys\": {\n        \"type\": \"Snapshot\",\n        \"snapshotType\":
        \"publish\",\n        \"snapshotEntityType\": \"Entry\",\n        \"id\":
        \"7ohZjlae5pmiCsbviCFvds\",\n        \"createdAt\": \"2017-03-10T13:38:59.419Z\",\n
        \       \"createdBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"updatedAt\": \"2017-03-10T13:38:59.419Z\",\n
        \       \"updatedBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"space\": {\n          \"sys\": {\n            \"type\":
        \"Link\",\n            \"linkType\": \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n
        \         }\n        }\n      },\n      \"snapshot\": {\n        \"fields\":
        {\n          \"name\": {\n            \"en-US\": \"foobar\"\n          }\n
        \       },\n        \"sys\": {\n          \"id\": \"4dI1y4PKdWWCSC0CwQakOa\",\n
        \         \"type\": \"Entry\",\n          \"createdAt\": \"2017-03-02T18:49:22.569Z\",\n
        \         \"createdBy\": {\n            \"sys\": {\n              \"type\":
        \"Link\",\n              \"linkType\": \"User\",\n              \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \           }\n          },\n          \"space\": {\n            \"sys\":
        {\n              \"type\": \"Link\",\n              \"linkType\": \"Space\",\n
        \             \"id\": \"facgnwwgj5fe\"\n            }\n          },\n          \"contentType\":
        {\n            \"sys\": {\n              \"type\": \"Link\",\n              \"linkType\":
        \"ContentType\",\n              \"id\": \"test\"\n            }\n          },\n
        \         \"version\": 2,\n          \"updatedAt\": \"2017-03-10T13:38:59.406Z\",\n
        \         \"updatedBy\": {\n            \"sys\": {\n              \"type\":
        \"Link\",\n              \"linkType\": \"User\",\n              \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \           }\n          },\n          \"firstPublishedAt\": \"2017-03-10T13:38:59.406Z\",\n
        \         \"publishedCounter\": 1,\n          \"publishedAt\": \"2017-03-10T13:38:59.406Z\",\n
        \         \"publishedBy\": {\n            \"sys\": {\n              \"type\":
        \"Link\",\n              \"linkType\": \"User\",\n              \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \           }\n          },\n          \"publishedVersion\": 1\n        }\n
        \     }\n    }\n  ],\n  \"skip\": 0,\n  \"limit\": 100\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"31b24ac14b84e197bd761ad0e159eef8"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35995']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [1d47db679af7a5ce4131e22d990b0448]
      X-Iinfo: [3-7902641-7902746 NNNN CT(140 280 0) RT(1498492668133 717) q(0 0 4
          0) r(63 63) U5]
    status: {code: 200, message: OK}
version: 1
