interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; os macOS/16.5.0;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/content_types/cat/snapshots
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"items\": [\n
        \   {\n      \"sys\": {\n        \"type\": \"Snapshot\",\n        \"snapshotType\":
        \"publish\",\n        \"snapshotEntityType\": \"ContentType\",\n        \"id\":
        \"5bfy52PVk8HwBfXURLOsWJ\",\n        \"createdAt\": \"2017-06-26T17:09:50.255Z\",\n
        \       \"createdBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"updatedAt\": \"2017-06-26T17:09:50.255Z\",\n
        \       \"updatedBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"space\": {\n          \"sys\": {\n            \"type\":
        \"Link\",\n            \"linkType\": \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n
        \         }\n        }\n      },\n      \"snapshot\": {\n        \"name\":
        \"Cat\",\n        \"fields\": [\n          {\n            \"name\": \"Name\",\n
        \           \"id\": \"name\",\n            \"type\": \"Symbol\",\n            \"validations\":
        [],\n            \"localized\": false,\n            \"required\": false,\n
        \           \"disabled\": false,\n            \"omitted\": false\n          },\n
        \         {\n            \"name\": \"Lives\",\n            \"id\": \"lives\",\n
        \           \"type\": \"Integer\",\n            \"validations\": [],\n            \"localized\":
        false,\n            \"required\": false,\n            \"disabled\": false,\n
        \           \"omitted\": false\n          },\n          {\n            \"name\":
        \"Best Friend\",\n            \"id\": \"bestFriend\",\n            \"type\":
        \"Link\",\n      [...]
