interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; platform python/3.5.2;
          os macOS/16.5.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/content_types/cat/snapshots/5bfy52PVk8HwBfXURLOsWJ
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Snapshot\",\n    \"snapshotType\":
        \"publish\",\n    \"snapshotEntityType\": \"ContentType\",\n    \"id\": \"5bfy52PVk8HwBfXURLOsWJ\",\n
        \   \"createdAt\": \"2017-06-26T17:09:50.255Z\",\n    \"createdBy\": {\n      \"sys\":
        {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n        \"id\":
        \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\": \"2017-06-26T17:09:50.255Z\",\n
        \   \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"facgnwwgj5fe\"\n      }\n    }\n  },\n  \"snapshot\": {\n
        \   \"name\": \"Cat\",\n    \"fields\": [\n      {\n        \"name\": \"Name\",\n
        \       \"id\": \"name\",\n        \"type\": \"Symbol\",\n        \"validations\":
        [],\n        \"localized\": false,\n        \"required\": false,\n        \"disabled\":
        false,\n        \"omitted\": false\n      },\n      {\n        \"name\": \"Lives\",\n
        \       \"id\": \"lives\",\n        \"type\": \"Integer\",\n        \"validations\":
        [],\n        \"localized\": false,\n        \"required\": false,\n        \"disabled\":
        false,\n        \"omitted\": false\n      },\n      {\n        \"name\": \"Best
        Friend\",\n        \"id\": \"bestFriend\",\n        \"type\": \"Link\",\n
        \       \"linkType\": \"Entry\",\n        \"localized\": false,\n        \"required\":
        false,\n        \"disabled\": false,\n        \"omitted\": false,\n        \"validations\":
        []\n      },\n      {\n        \"name\": \"Likes\",\n        \"id\": \"likes\",\n
        \       \"type\": \"Array\",\n        \"items\": {\n          \"type\": \"Symbol\"\n
        \       }\n      }\n    ],\n    \"sys\": {\n      \"id\": \"cat\",\n      \"type\":
        \"ContentType\",\n      \"createdAt\": \"2017-05-08T14:06:00.224Z\",\n      \"createdBy\":
        {\n        \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"User\",\n          \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n        }\n      },\n
        \     \"space\": {\n        \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"Space\",\n          \"id\": \"facgnwwgj5fe\"\n        }\n      },\n      \"version\":
        4,\n      \"updatedAt\": \"2017-06-26T17:09:50.074Z\",\n      \"updatedBy\":
        {\n        \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"User\",\n          \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n        }\n      },\n
        \     \"firstPublishedAt\": \"2017-05-08T14:06:00.749Z\",\n      \"publishedCounter\":
        2,\n      \"publishedAt\": \"2017-06-26T17:09:50.074Z\",\n      \"publishedBy\":
        {\n        \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"User\",\n          \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n        }\n      },\n
        \     \"publishedVersion\": 3\n    },\n    \"displayField\": \"name\"\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"c483101201275f9b2cbbfc3af8d823c1"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35966']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [c082deb8445a16fdcda54e209b90de21]
      X-Iinfo: [9-224869-225003 NNNN CT(143 139 0) RT(1498497117005 582) q(0 0 3 -1)
          r(6 6) U5]
    status: {code: 200, message: OK}
version: 1
