interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; sdk contentful-management.py/1.3.1;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/4dI1y4PKdWWCSC0CwQakOa/snapshots/7ohZjlae5pmiCsbviCFvds
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Snapshot\",\n    \"snapshotType\":
        \"publish\",\n    \"snapshotEntityType\": \"Entry\",\n    \"id\": \"7ohZjlae5pmiCsbviCFvds\",\n
        \   \"createdAt\": \"2017-03-10T13:38:59.419Z\",\n    \"createdBy\": {\n      \"sys\":
        {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n        \"id\":
        \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\": \"2017-03-10T13:38:59.419Z\",\n
        \   \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"facgnwwgj5fe\"\n      }\n    }\n  },\n  \"snapshot\": {\n
        \   \"fields\": {\n      \"name\": {\n        \"en-US\": \"foobar\"\n      }\n
        \   },\n    \"sys\": {\n      \"id\": \"4dI1y4PKdWWCSC0CwQakOa\",\n      \"type\":
        \"Entry\",\n      \"createdAt\": \"2017-03-02T18:49:22.569Z\",\n      \"createdBy\":
        {\n        \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"User\",\n          \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n        }\n      },\n
        \     \"space\": {\n        \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"Space\",\n          \"id\": \"facgnwwgj5fe\"\n        }\n      },\n      \"contentType\":
        {\n        \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"ContentType\",\n          \"id\": \"test\"\n        }\n      },\n      \"version\":
        2,\n      \"updatedAt\": \"2017-03-10T13:38:59.406Z\",\n      \"updatedBy\":
        {\n        \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"User\",\n          \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n        }\n      },\n
        \     \"firstPublishedAt\": \"2017-03-10T13:38:59.406Z\",\n      \"publishedCounter\":
        1,\n      \"publishedAt\": \"2017-03-10T13:38:59.406Z\",\n      \"publishedBy\":
        {\n        \"sys\": {\n          \"type\": \"Link\",\n          \"linkType\":
        \"User\",\n          \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n        }\n      },\n
        \     \"publishedVersion\": 1\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"369b83abf81526fb9183dc62c7bde75e"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35994']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [9f4e29d4eb3735dde6ffbaa7d2137112]
      X-Iinfo: [7-6196971-6197042 NNNN CT(135 136 0) RT(1498492675614 425) q(0 0 3
          -1) r(5 5) U5]
    status: {code: 200, message: OK}
version: 1
