interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.9.1; platform python/3.7.5; os macOS/19.2.0;
    method: GET
    uri: https://api.contentful.com/organizations
  response:
    body:
      string: "{\n  \"total\":1,\n  \"limit\":25,\n  \"skip\":0,\n  \"sys\":{\n \
        \   \"type\":\"Array\"\n  },\n  \"items\":[\n  {\n\
        \      \"name\":\"SDKs Test Organization - v2 Enterprise\",\n      \"sys\"\
        :{\n        \"type\":\"Organization\",\n        \"id\":\"org_id\"\
        ,\n        \"version\":2,\n        \"createdAt\":\"2018-10-08T13:23:19Z\"\
        ,\n        \"updatedAt\":\"2018-10-11T11:24:32Z\"\n      }\n    }\n  ]\n}\n\n"
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      ETag:
      - W/"69242cce20113c4c21c0c39abef5f89e"
      X-CDN:
      - Incapsula
      X-Contentful-Request-Id:
      - 7d2355be5ff4b7ed4b45e72dc23eef5f
      X-Iinfo:
      - 6-12331062-12331069 NNNY CT(0 0 0) RT(1583406452516 46) q(0 0 0 -1) r(1 1)
        U5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.9.1; platform python/3.7.5; os macOS/19.2.0;
    method: GET
    uri: https://api.contentful.com/organizations/org_id/space_periodic_usages
  response:
    body:
      string: "{\n  \"total\":112,\n  \"limit\":100,\n  \"skip\":0,\n  \"sys\":{\n\
        \    \"type\":\"Array\"\n  },\n  \"items\":[\n    {\n      \"metric\":\"cma\"\
        ,\n      \"usage\":8855,\n      \"usagePerDay\":{\n        \"2020-01-21\"\
        :0,\n        \"2020-01-22\":0,\n        \"2020-01-23\":0,\n        \"2020-01-24\"\
        :0,\n        \"2020-01-25\":0,\n        \"2020-01-26\":0,\n        \"2020-01-27\"\
        :0,\n        \"2020-01-28\":0,\n        \"2020-01-29\":0,\n        \"2020-01-30\"\
        :0,\n        \"2020-01-31\":0,\n        \"2020-02-01\":0,\n        \"2020-02-02\"\
        :0,\n        \"2020-02-03\":0,\n        \"2020-02-04\":5842,\n        \"2020-02-05\"\
        :3013,\n        \"2020-02-06\":0,\n        \"2020-02-07\":0,\n        \"2020-02-08\"\
        :0,\n        \"2020-02-09\":0,\n        \"2020-02-10\":0,\n        \"2020-02-11\"\
        :0,\n        \"2020-02-12\":0,\n        \"2020-02-13\":0,\n        \"2020-02-14\"\
        :0,\n        \"2020-02-15\":0,\n        \"2020-02-16\":0,\n        \"2020-02-17\"\
        :0,\n        \"2020-02-18\":0,\n        \"2020-02-19\":0,\n        \"2020-02-20\"\
        :0,\n        \"2020-02-21\":0,\n        \"2020-02-22\":0,\n        \"2020-02-23\"\
        :0,\n        \"2020-02-24\":0,\n        \"2020-02-25\":0,\n        \"2020-02-26\"\
        :0,\n        \"2020-02-27\":0,\n        \"2020-02-28\":0,\n        \"2020-02-29\"\
        :0,\n        \"2020-03-01\":0,\n        \"2020-03-02\":0,\n        \"2020-03-03\"\
        :0,\n        \"2020-03-04\":0,\n        \"2020-03-05\":0\n      },\n     \
        \ \"unitOfMeasure\":\"apiRequestsCount\",\n      \"sys\":{\n        \"type\"\
        :\"SpacePeriodicUsage\",\n        \"id\":\"usage-cma-fj3kyv4vsm89-2020-01-21-2020-03-05\"\
        ,\n        \"space\":{\n          \"sys\":{\n            \"type\":\"Link\"\
        ,\n            \"linkType\":\"Space\",\n            \"id\":\"fj3kyv4vsm89\"\
        \n          }\n        }\n      },\n      \"dateRange\":{\n        \"startAt\"\
        :\"2020-01-21\",\n        \"endAt\":\"2020-03-05\"\n      }\n    },\n    {\n\
        \      \"metric\":\"cma\",\n      \"usage\":1798,\n      \"usagePerDay\":{\n\
        \        \"2020-01-21\":31,\n        \"2020-01-22\":0,\n        \"2020-01-23\"\
        :34,\n        \"2020-01-24\":0,\n        \"2020-01-25\":0,\n        \"2020-01-26\"\
        :0,\n        \"2020-01-27\":1209,\n        \"2020-01-28\":0,\n        \"2020-01-29\"\
        :0,\n        \"2020-01-30\":0,\n        \"2020-01-31\":305,\n        \"2020-02-01\"\
     [...]
