interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/4mnyzaAjCSA65Xz6jEO5yB
  response:
    body:
      string: '{"metadata":{"tags":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"id":"4mnyzaAjCSA65Xz6jEO5yB","type":"Entry","createdAt":"2022-12-25T19:10:29.520Z","updatedAt":"2022-12-25T19:10:35.970Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":2,"publishedAt":"2022-12-25T19:10:35.970Z","firstPublishedAt":"2022-12-25T19:10:35.970Z","createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"publishedCounter":1,"version":3,"publishedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"automationTags":[],"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"simple"}}},"fields":{"title":{"en-US":"one
        simple"}}}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      accept-patch:
      - application/json-patch+json
      etag:
      - '"18063767262860745002"'
      x-contentful-request-id:
      - 31ff8a4b-c734-4753-aa86-379cd23cbab0
      x-contentful-route:
      - /spaces/:space/environments/:environment/entries/:id
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/simple
  response:
    body:
      string: '{"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"id":"simple","type":"ContentType","createdAt":"2022-12-25T18:49:03.060Z","updatedAt":"2022-12-25T18:49:03.495Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":1,"publishedAt":"2022-12-25T18:49:03.495Z","firstPublishedAt":"2022-12-25T18:49:03.495Z","createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"publishedCounter":1,"version":2,"publishedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}}},"displayField":"title","name":"Simple","description":"","fields":[{"id":"title","name":"title","type":"Symbol","localized":false,"required":false,"validations":[],"disabled":false,"omitted":false}]}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35998'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '8'
      etag:
      - '"11211006574060598989"'
      x-contentful-request-id:
      - a25bd222-4acc-4837-bbfc-aa7d6b3558c0
      x-contentful-route:
      - /spaces/:space/environments/:environment/content_types/:id
    status:
      code: 200
      message: OK
- request:
    body: '{"metadata": {"tags": [{"sys": {"type": "Link", "linkType": "Tag", "id":
      "icon"}}]}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
      x-contentful-content-type:
      - simple
      x-contentful-version:
      - '3'
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/4mnyzaAjCSA65Xz6jEO5yB
  response:
    body:
      string: '{"metadata":{"tags":[{"sys":{"type":"Link","linkType":"Tag","id":"icon"}}]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"id":"4mnyzaAjCSA65Xz6jEO5yB","type":"Entry","createdAt":"2022-12-25T19:10:29.520Z","updatedAt":"2023-09-01T06:43:21.892Z","environment":{"sys":{"id":"master","type":"Link",[...]
[...]
