interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/assets/6vK2vO3YPUSSK6euosLyGf
  response:
    body:
      string: '{"metadata":{"tags":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"id":"6vK2vO3YPUSSK6euosLyGf","type":"Asset","createdAt":"2021-11-27T11:38:32.475Z","updatedAt":"2023-09-01T09:59:03.587Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":14,"publishedAt":"2023-09-01T09:59:03.587Z","firstPublishedAt":"2021-11-27T11:39:47.469Z","createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"publishedCounter":5,"version":15,"publishedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}}},"fields":{"title":{"en-US":"Radhamadhava"},"description":{"en-US":""},"file":{"en-US":{"url":"//images.ctfassets.net/facgnwwgj5fe/6vK2vO3YPUSSK6euosLyGf/fa84b27b0bd0de4f2ff168e0456ca138/krishna.jpg","details":{"size":686069,"image":{"width":2048,"height":1536}},"fileName":"Radhamadhava.JPG","contentType":"image/jpeg"}}}}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      etag:
      - '"6800126850965648342"'
      x-contentful-request-id:
      - 6c72c23b-78da-432e-874b-0a6e96dd132e
      x-contentful-route:
      - /spaces/:space/environments/:environment/assets/:id
    status:
      code: 200
      message: OK
- request:
    body: '{"fields": {"title": {"en-US": "Radhamadhava"}, "description": {"en-US":
      ""}, "file": {"en-US": {"url": "//images.ctfassets.net/facgnwwgj5fe/6vK2vO3YPUSSK6euosLyGf/fa84b27b0bd0de4f2ff168e0456ca138/krishna.jpg",
      "details": {"size": 686069, "image": {"width": 2048, "height": 1536}}, "fileName":
      "Radhamadhava.JPG", "contentType": "image/jpeg"}}}, "metadata": {"tags": [{"sys":
      {"type": "Link", "linkType": "Tag", "id": "icon"}}]}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
      x-contentful-version:
      - '15'
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/assets/6vK2vO3YPUSSK6euosLyGf
  response:
    body:
      string: '{"metadata":{"tags":[{"sys":{"type":"Link","linkType":"Tag","id":"icon"}}]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"id":"6vK2vO3YPUSSK6euosLyGf","type":"Asset","createdAt":"2021-11-27T11:38:32.475Z","updatedAt":"2023-09-01T09:59:24.416Z","environment":{"sys":{"id":"master","type":"Link",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/assets/686aLBcjj1f47uFWxrepj6
  response:
    body:
      string: '{"metadata":{"tags":[{"sys":{"type":"Link","linkType":"Tag","id":"ic[...]
