interactions:
- request:
    body: '{"name": "Foo Public", "sys": {"visibility": "public"}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/tags/fooPublic
  response:
    body:
      string: '{"name":"Foo Public","sys":{"visibility":"public","id":"fooPublic","space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"type":"Tag","version":1,"createdAt":"2023-08-26T15:08:35.329Z","createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedAt":"2023-08-26T15:08:35.329Z","updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}}}}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      etag:
      - '"17994525089472483702"'
      x-contentful-request-id:
      - a00ca318-5ef6-4bc7-bb9e-0c5578d95703
      x-contentful-route:
      - /spaces/:space/environments/:environment/tags/:id
    status:
      code: 201
      message: Created
version: 1
