interactions:
- request:
    body: '{"fields": {"file": {"en-US": {"fileName": "foo.png", "contentType": "image/png",
      "upload": "https://i.imgur.com/Zmum6k4.png"}}}, "metadata": {"tags": [{"sys":
      {"type": "Link", "linkType": "Tag", "id": "icon"}}]}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: POST
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/assets
  response:
    body:
      string: '{"metadata":{"tags":[{"sys":{"type":"Link","linkType":"Tag","id":"icon"}}]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"id":"355PNmoSgZzmP9gIf8xfSC","type":"Asset","createdAt":"2023-09-01T10:01:08.923Z","updatedAt":"2023-09-01T10:01:08.923Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"publishedCounter":0,"version":1},"fields":{"file":{"en-US":{"upload":"https://i.imgur.com/Zmum6k4.png","fileName":"foo.png","contentType":"image/png"}}}}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      etag:
      - '"7340041617989076611"'
      x-contentful-request-id:
      - 9e97a871-39d4-4d65-9dc2-c3883a92c743
      x-contentful-route:
      - /spaces/:space/environments/:environment/assets
    status:
      code: 201
      message: Created
version: 1
