interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/tags/fooPublic
  response:
    body:
      string: '{"sys":{"type":"Tag","id":"fooPublic","space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"createdAt":"2023-08-26T15:08:35.329Z","updatedAt":"2023-08-26T15:54:21.872Z","version":4,"visibility":"public"},"name":"Public
        Tag Name"}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      etag:
      - '"12761141839078552134"'
      x-contentful-request-id:
      - 1c242e3b-4dbf-47c0-9dd1-5751c340ce97
      x-contentful-route:
      - /spaces/:space/environments/:environment/tags/:id
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
      x-contentful-version:
      - '4'
    method: DELETE
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/tags/fooPublic
  response:
    body:
      string: ''
    headers:
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35998'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '8'
      etag:
      - '"12761141839078552134"'
      x-contentful-request-id:
      - de1b80af-2314-4e69-a8db-451592bb885e
      x-contentful-route:
      - /spaces/:space/tags/:id
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/tags/fooPublic
  response:
    body:
      string: '{"sys":{"type":"Error","id":"NotFound"},"message":"The resource could
        not be found.","details":{"type":"Tag","id":"fooPublic","environment":"master","space":"facgnwwgj5fe"},"requestId":"f6609af2-cac5-4247-a2db-41058fc73b23"}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      etag:
      - '"2030812637795375488"'
      x-contentful-request-id:
      - f6609af2-cac5-4247-a2db-41058fc73b23
      x-contentful-route:
      - /spaces/:space/environments/:environment/tags/:id
    status:
      code: 404
      message: Not Found
version: 1
