interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/tags/fooPrivate
  response:
    body:
      string: '{"sys":{"type":"Tag","id":"fooPrivate","space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"createdAt":"2023-08-26T15:10:00.455Z","updatedAt":"2023-08-26T15:10:00.455Z","version":1,"visibility":"private"},"name":"Foo
        Private"}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      etag:
      - '"17178680633040616672"'
      x-contentful-request-id:
      - f1b90d51-47fd-4099-90ce-3241404c5e2f
      x-contentful-route:
      - /spaces/:space/environments/:environment/tags/:id
    status:
      code: 200
      message: OK
version: 1
