interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/tags/fooPublic
  response:
    body:
      string: '{"sys":{"type":"Tag","id":"fooPublic","space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"createdAt":"2023-08-26T15:08:35.329Z","updatedAt":"2023-08-26T15:49:07.898Z","version":3,"visibility":"public"},"name":"Updated
        Tag Name"}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      etag:
      - '"10282269063891908299"'
      x-contentful-request-id:
      - 56471c2f-ed4d-4ed2-88b2-a9b78d9104c2
      x-contentful-route:
      - /spaces/:space/environments/:environment/tags/:id
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Public Tag Name"}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.11.4; os macOS/22.6.0;
      x-contentful-version:
      - '3'
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/tags/fooPublic
  response:
    body:
      string: '{"name":"Public Tag Name","sys":{"type":"Tag","id":"fooPublic","space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"createdAt":"2023-08-26T15:08:35.329Z","updatedAt":"2023-08-26T15:54:21.872Z","version":4,"visibility":"public"}}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35998'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '8'
      etag:
      - '"305793162729799133"'
      x-contentful-request-id:
      - 3dfae519-2c61-462c-b4c0-6ecd086adbf7
      x-contentful-route:
      - /spaces/:space/tags/:id
    status:
      code: 200
      message: OK
[...]
