interactions:
- request:
    body: '{"fields": {"file": {"en-US": {"upload": "https://i.imgur.com/Zmum6k4.png",
      "contentType": "image/png", "fileName": "foo.png"}}}}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/assets/id_asset_create_test
  response:
    body: {string: "{\n  \"fields\": {\n    \"file\": {\n      \"en-US\": {\n        \"upload\":
        \"https://i.imgur.com/Zmum6k4.png\",\n        \"contentType\": \"image/png\",\n
        \       \"fileName\": \"foo.png\"\n      }\n    }\n  },\n  \"sys\": {\n    \"id\":
        \"id_asset_create_test\",\n    \"type\": \"Asset\",\n    \"version\": 1,\n
        \   \"createdAt\": \"2017-03-10T15:23:06.189Z\",\n    \"createdBy\": {\n      \"sys\":
        {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n        \"id\":
        \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\": {\n      \"sys\":
        {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n        \"id\":
        \"facgnwwgj5fe\"\n      }\n    },\n    \"updatedAt\": \"2017-03-10T15:23:06.189Z\",\n
        \   \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"575056752789406571f70e12823e2b3f"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35928']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [1fb8970e83db93be76e623399b025e2f]
      X-Iinfo: [10-28552337-28552363 NNNN CT(80 84 0) RT(1489159385061 93) q(0 0 2
          -1) r(5 5) U5]
    status: {code: 201, message: Created}
version: 1
