interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; os macOS/16.5.0;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/organizations?limit=1
  response:
    body: {string: "{\n  \"total\":1,\n  \"limit\":1,\n  \"skip\":0,\n  \"sys\":{\n
        \   \"type\":\"Array\"\n  },\n  \"items\":[\n    {\n      \"name\":\"Test
        Account 1\",\n      \"sys\":{\n        \"type\":\"Organization\",\n        \"id\":\"foobar\",\n
        \       \"version\":0,\n        \"createdAt\":\"2017-06-22T17:03:17Z\",\n
        \       \"updatedAt\":\"2017-06-22T17:03:17Z\"\n      }\n    }\n  ]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"89c351fd4c28421b8bd3c0c2b0d91407"]
      X-CDN: [Incapsula]
      X-Contentful-Request-Id: [9efd2f14267270fbaec27b2c0fabbf63]
      X-Iinfo: [9-15769680-15770352 NNNN CT(135 275 0) RT(1498152279370 4255) q(0
          0 4 -1) r(7 7) U5]
    status: {code: 200, message: OK}
version: 1
