interactions:
- request:
    body: '{"extension": {"name": "Test Extension", "fieldTypes": [{"type": "Symbol"}],
      "srcdoc": "<html>foobar</html>", "sidebar": false}}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; platform python/3.5.2;
          os macOS/16.5.0;]
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/extensions/test-extension
  response:
    body: {string: "{\n  \"extension\": {\n    \"name\": \"Test Extension\",\n    \"fieldTypes\":
        [\n      {\n        \"type\": \"Symbol\"\n      }\n    ],\n    \"srcdoc\":
        \"<html>foobar</html>\",\n    \"sidebar\": false\n  },\n  \"sys\": {\n    \"id\":
        \"test-extension\",\n    \"type\": \"Extension\",\n    \"version\": 1,\n    \"createdAt\":
        \"2017-06-29T16:16:07.774Z\",\n    \"createdBy\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"space\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"Space\",\n        \"id\": \"facgnwwgj5fe\"\n      }\n
        \   },\n    \"updatedAt\": \"2017-06-29T16:16:07.774Z\",\n    \"updatedBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"764b595491393540d022fb3f6f102ba2"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35993']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [081e41f315e7af0f404dda4092511651]
      X-Iinfo: [5-25588832-25588849 NNNN CT(140 138 0) RT(1498752966702 116) q(0 0
          2 -1) r(6 6) U5]
    status: {code: 201, message: Created}
version: 1
