interactions:
- request:
    body: '{"extension": {"name": "Test Extension", "fieldTypes": [{"type": "Symbol"}],
      "srcdoc": "<html>foobar</html>", "sidebar": false}}'
    headers:
      Authorization: [Bearer CFPAT-c45d3251222230891f7502f3a27de152e5c59860e6decd023867160fb5f1b831]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; platform python/3.5.2;
          os macOS/16.5.0;]
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/extensions/test-extension
  response:
    body: {string: "{\n  \"extension\": {\n    \"name\": \"Test Extension\",\n    \"fieldTypes\":
        [\n      {\n        \"type\": \"Symbol\"\n      }\n    ],\n    \"srcdoc\":
        \"<html>foobar</html>\",\n    \"sidebar\": false\n  },\n  \"sys\": {\n    \"id\":
        \"test-extension\",\n    \"type\": \"Extension\",\n    \"version\": 1,\n    \"createdAt\":
        \"2017-07-06T14:18:29.527Z\",\n    \"createdBy\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"space\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"Space\",\n        \"id\": \"facgnwwgj5fe\"\n      }\n
        \   },\n    \"updatedAt\": \"2017-07-06T14:18:29.527Z\",\n    \"updatedBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"eb2d1da83597d03674bf2c4f8f212ee0"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35993']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [674a7f4b0506a5bce3f6768ab59f5e81]
      X-Iinfo: [8-2419907-2419935 NNNN CT(139 144 0) RT(1499350705256 178) q(0 0 3
          -1) r(36 36) U5]
    status: {code: 201, message: Created}
version: 1
