interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [platform python/3.5.2; os macOS/16.5.0; sdk contentful-management.py/1.3.1;]
    method: GET
    uri: https://api.contentful.com/spaces/arqlnkt58eul/environments/master/extensions/2ZJduY1pKEma6G8Y2ImqYU
  response:
    body: {string: "{\n  \"extension\": {\n    \"srcdoc\": \"<!doctype html><html
        lang='en'><head><meta charset='UTF-8'/><title>Sample Editor Extension</title><link
        rel='stylesheet' href='https://contentful.github.io/ui-extensions-sdk/cf-extension.css'><script
        src='https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js'></script></head><body><div
        id='content'></div><script>window.contentfulExtension.init(function (extension)
        {window.alert(extension);var value = extension.field.getValue();extension.field.setValue('Hello
        world!');extension.field.onValueChanged(function(value) {if (value !== currentValue)
        {extension.field.setValue('Hello world!');}});});</script></body></html>\",\n
        \   \"name\": \"My awesome extension by srcDoc\",\n    \"fieldTypes\": [\n
        \     {\n        \"type\": \"Symbol\"\n      },\n      {\n        \"type\":
        \"Text\"\n      }\n    ],\n    \"sidebar\": false\n  },\n  \"sys\": {\n    \"id\":
        \"2ZJduY1pKEma6G8Y2ImqYU\",\n    \"type\": \"Extension\",\n    \"version\":
        1,\n    \"createdAt\": \"2017-06-29T11:04:33.874Z\",\n    \"createdBy\": {\n
        \     \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"7uJNojWP0gbuP7Pplz7Syo\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"arqlnkt58eul\"\n      }\n    },\n    \"updatedAt\": \"2017-06-29T11:04:33.874Z\",\n
        \   \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"7uJNojWP0gbuP7Pplz7Syo\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"99ea76707e6a1fc674843e1499562353"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35988']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [12aa35358c6105b427fc42fbd673e0a6]
      X-Iinfo: [2-11963810-11963818 NNNN CT(143 295 0) RT(1498752438958 136) q(0 0
          5 -1) r(39 39) U5]
    status: {code: 200, message: OK}
version: 1
