interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer CFPAT-c45d3251222230891f7502f3a27de152e5c59860e6decd023867160fb5f1b831]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; platform python/3.5.2;
          os macOS/16.5.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/extensions/test-extension
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Error\",\n    \"id\": \"NotFound\"\n
        \ },\n  \"message\": \"The resource could not be found.\",\n  \"details\":
        {\n    \"type\": \"Extension\",\n    \"space\": \"facgnwwgj5fe\",\n    \"id\":
        \"test-extension\"\n  },\n  \"requestId\": \"1c562fcdedbbd35601ce698ed962d421\"\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35989']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [1c562fcdedbbd35601ce698ed962d421]
      X-Iinfo: [9-2828315-2824737 PNNN RT(1499350714815 109) q(0 0 0 -1) r(3 3) U5]
    status: {code: 404, message: Not Found}
version: 1
