interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; platform python/3.5.2;
          os macOS/16.5.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/extensions/test-extension
  response:
    body: {string: "{\n  \"extension\": {\n    \"name\": \"Test Extension\",\n    \"fieldTypes\":
        [\n      {\n        \"type\": \"Symbol\"\n      }\n    ],\n    \"srcdoc\":
        \"<html>foobar</html>\",\n    \"sidebar\": false\n  },\n  \"sys\": {\n    \"id\":
        \"test-extension\",\n    \"type\": \"Extension\",\n    \"version\": 1,\n    \"createdAt\":
        \"2017-06-29T16:16:07.774Z\",\n    \"createdBy\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"space\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"Space\",\n        \"id\": \"facgnwwgj5fe\"\n      }\n
        \   },\n    \"updatedAt\": \"2017-06-29T16:16:07.774Z\",\n    \"updatedBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"764b595491393540d022fb3f6f102ba2"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35992']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [d787639b3e87d7fdf19b6abfb0960fc7]
      X-Iinfo: [5-25617334-25617356 NNNN CT(134 273 0) RT(1498753151415 127) q(0 0
          4 -1) r(7 7) U5]
    status: {code: 200, message: OK}
version: 1
