interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [platform python/3.5.2; os macOS/16.5.0; sdk contentful-management.py/1.3.1;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/extensions/test-extension
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Error\",\n    \"id\": \"NotFound\"\n
        \ },\n  \"message\": \"The resource could not be found.\",\n  \"details\":
        {\n    \"type\": \"Extension\",\n    \"space\": \"facgnwwgj5fe\",\n    \"id\":
        \"test-extension\"\n  },\n  \"requestId\": \"6d5d325bb093d424d03c44faa2ca915f\"\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35988']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [6d5d325bb093d424d03c44faa2ca915f]
      X-Iinfo: [7-19795287-19795310 NNNN CT(133 139 0) RT(1498753299477 113) q(0 0
          3 -1) r(36 36) U5]
    status: {code: 404, message: Not Found}
version: 1
