interactions:
- request:
    body: '{"extension": {"fieldTypes": [{"type": "Symbol"}], "srcdoc": "<html>foobar</html>",
      "name": "Update Test Extension", "sidebar": false}}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; platform python/3.5.2;
          os macOS/16.5.0;]
      x-contentful-version: ['1']
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/extensions/test-extension
  response:
    body: {string: "{\n  \"extension\": {\n    \"fieldTypes\": [\n      {\n        \"type\":
        \"Symbol\"\n      }\n    ],\n    \"srcdoc\": \"<html>foobar</html>\",\n    \"name\":
        \"Update Test Extension\",\n    \"sidebar\": false\n  },\n  \"sys\": {\n    \"id\":
        \"test-extension\",\n    \"type\": \"Extension\",\n    \"version\": 2,\n    \"createdAt\":
        \"2017-06-29T16:16:07.774Z\",\n    \"createdBy\": {\n      \"sys\": {\n        \"type\":
        \"Link\",\n        \"linkType\": \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"space\": {\n      \"sys\": {\n        \"type\": \"Link\",\n
        \       \"linkType\": \"Space\",\n        \"id\": \"facgnwwgj5fe\"\n      }\n
        \   },\n    \"updatedAt\": \"2017-06-29T16:19:13.555Z\",\n    \"updatedBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"5a2bb142a88ce6f18541121a29ff9612"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35991']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [da0039da1edb535691a3119a09771e0c]
      X-Iinfo: [1-8336710-8336720 NNNN CT(138 140 0) RT(1498753152417 135) q(0 0 3
          -1) r(10 10) U5]
    status: {code: 200, message: OK}
version: 1
