interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/24.6.0;
    method: GET
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concepts
  response:
    body:
      string: '{"sys":{"type":"Array"},"limit":100,"items":[{"sys":{"id":"newConcept","type":"TaxonomyConcept","createdAt":"2025-07-07T10:55:02.436Z","updatedAt":"2025-07-07T10:55:02.436Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"notations":[],"conceptSchemes":[],"broader":[],"related":[],"prefLabel":{"en-US":"NewConcept"},"altLabels":{"en-US":[]},"hiddenLabels":{"en-US":[]},"note":{"en-US":""},"changeNote":null,"definition":{"en-US":""},"editorialNote":{"en-US":""},"example":{"en-US":""},"historyNote":{"en-US":""},"scopeNote":{"en-US":""}},{"sys":{"id":"travels","type":"TaxonomyConcept","createdAt":"2025-07-09T10:51:38.536Z","updatedAt":"2025-07-09T10:51:38.536Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"notations":[],"conceptSchemes":[],"broader":[],"related":[],"prefLabel":[...]
