interactions:
- request:
    body: '{"prefLabel": {"en-US": "Sofas"}, "altLabels": {}, "hiddenLabels": {},
      "notations": [], "note": {}, "changeNote": {}, "definition": {}, "editorialNote":
      {}, "example": {}, "historyNote": {}, "scopeNote": {}, "broader": [], "related":
      [], "conceptSchemes": []}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.15.0; platform python/3.12.7; os macOS/25.1.0;
    method: PUT
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concepts/3kZdDUXy9n0l2Xi2cq8TPc
  response:
    body:
      string: '{"sys":{"id":"3kZdDUXy9n0l2Xi2cq8TPc","type":"TaxonomyConcept","createdAt":"2025-12-17T02:19:09.167Z","updatedAt":"2025-12-17T02:19:09.167Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"notations":[],"conceptSchemes":[],"broader":[],"related":[],"prefLabel":{"en-US":"Sofas"},"altLabels":{"en-US":[]},"hiddenLabels":{"en-US":[]},"note":null,"changeNote":null,"definition":null,"editorialNote":null,"example":null,"historyNote":null,"scopeNote":null}'
    headers:
      content-type:
      - application/vnd.contentful.management.v1+json
      contentful-api:
      - cma
      contentful-upstream:
      - taxonomy-service
      x-contentful-ratelimit-reset:
      - '0'
      x-contentful-ratelimit-second-limit:
      - '10'
      x-contentful-ratelimit-second-remaining:
      - '9'
      x-contentful-request-id:
      - d41bd987-632c-4020-85f1-d5450bd166e9
    status:
      code: 201
      message: ''
version: 1
