interactions:
- request:
    body: '{"prefLabel": {"en-US": "Sofas"}, "altLabels": {"en-US": ["Couches", "Settees"]},
      "hiddenLabels": {"en-US": ["Davenports"]}, "notations": ["FURN0017B"], "note":
      {}, "changeNote": {}, "definition": {}, "editorialNote": {}, "example": {},
      "historyNote": {}, "scopeNote": {}, "broader": [], "related": [], "conceptSchemes":
      []}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/24.6.0;
    method: POST
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concepts
  response:
    body:
      string: '{"sys":{"id":"5KHXWlmxvntrrB09szapUp","type":"TaxonomyConcept","createdAt":"2025-09-14T05:31:51.063Z","updatedAt":"2025-09-14T05:31:51.063Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"notations":["FURN0017B"],"conceptSchemes":[],"broader":[],"related":[],"prefLabel":{"en-US":"Sofas"},"altLabels":{"en-US":["Couches","Settees"]},"hiddenLabels":{"en-US":["Davenports"]},"note":null,"changeNote":null,"definition":null,"editorialNote":null,"example":null,"historyNote":null,"scopeNote":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      x-contentful-request-id:
      - 828575d1-10ee-4e0a-b049-671d10078d25
      x-contentful-route:
      - /organizations/:organizationId/taxonomy/concepts
    status:
      code: 201
      message: Created
version: 1
