interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/24.5.0;
    method: GET
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concepts/5iRG7dAusVFUOh9SrexDqQ
  response:
    body:
      string: '{"sys":{"id":"5iRG7dAusVFUOh9SrexDqQ","type":"TaxonomyConcept","createdAt":"2025-03-21T05:54:15.434Z","updatedAt":"2025-07-09T10:45:16.316Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":5},"uri":"https://example/testconcept","notations":["SLR001"],"conceptSchemes":[{"sys":{"id":"4EQT881T6sG9XpzNwb9y9R","type":"Link","linkType":"TaxonomyConceptScheme"}}],"broader":[{"sys":{"id":"newConcept","type":"Link","linkType":"TaxonomyConcept"}}],"related":[],"prefLabel":{"en-US":"TestConcept"},"altLabels":{"en-US":["Couches"]},"hiddenLabels":{"en-US":["Sopha"]},"note":{"en-US":"Excepteur
        sint occaecat cupidatat non proident"},"changeNote":null,"definition":null,"editorialNote":{"en-US":""},"example":{"en-US":"Lorem
        ipsum dolor sit amet"},"historyNote":{"en-US":""},"scopeNote":{"en-US":"consectetur
        adipiscing elit"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      x-contentful-request-id:
      - 11630111-d1e1-443f-b9bf-c99b3402eb75
      x-contentful-route:
      - /organizations/:organizationId/taxonomy/concepts/:id
    status:
      code: 200
      message: OK
version: 1
