interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/24.5.0;
    method: GET
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concepts/5iRG7dAusVFUOh9SrexDqQ
  response:
    body:
      string: '{"sys":{"type":"Error","id":"NotFound"},"message":"The resource could
        not be found."}'
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      x-contentful-request-id:
      - 44ba8c87-519a-4d4f-b3fb-43ae32f79ef6
      x-contentful-route:
      - /organizations/:organizationId/taxonomy/concepts/:id
    status:
      code: 404
      message: Not Found
version: 1
