interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [platform python/3.5.2; os macOS/16.5.0; sdk contentful-management.py/1.3.1;]
    method: GET
    uri: https://api.contentful.com/users/me/access_tokens?limit=1
  response:
    body: {string: "{\n  \"total\":1,\n  \"limit\":1,\n  \"skip\":0,\n  \"sys\":{\n
        \   \"type\":\"Array\"\n  },\n  \"items\":[\n    {\n      \"name\":\"Playground\",\n
        \     \"revokedAt\":null,\n      \"sys\":{\n        \"type\":\"PersonalAccessToken\",\n
        \       \"id\":\"6ZJFnifPKNpxU8r8j9Xz14\",\n        \"createdAt\":\"2017-06-26T17:14:55Z\",\n
        \       \"updatedAt\":\"2017-06-26T17:14:55Z\"\n      },\n      \"scopes\":[\"content_management_manage\"]\n
        \   }\n  ]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"c39a524f54a1b2396361daadac65de73"]
      X-CDN: [Incapsula]
      X-Contentful-Request-Id: [24b08a555dce33c08b55f65f44fd7248]
      X-Iinfo: [6-1563415-1563447 NNNN CT(133 133 0) RT(1498573162325 150) q(0 0 3
          0) r(5 5) U5]
    status: {code: 200, message: OK}
version: 1
