interactions:
- request:
    body: '{"name": "Test Create", "scopes": ["content_management_manage"]}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; platform python/3.5.2; sdk contentful-management.py/1.3.1;]
    method: POST
    uri: https://api.contentful.com/users/me/access_tokens
  response:
    body: {string: "{\n  \"name\":\"Test Create\",\n  \"revokedAt\":null,\n  \"sys\":{\n
        \   \"type\":\"PersonalAccessToken\",\n    \"id\":\"1Ca9dLr0O9OmX18kIWZ4Is\",\n
        \   \"createdAt\":\"2017-06-27T14:59:56Z\",\n    \"updatedAt\":\"2017-06-27T14:59:56Z\"\n
        \ },\n  \"scopes\":[\"content_management_manage\"],\n  \"token\":\"CFPAT-51b4ea40a2d511301e78385045af55a29238134f000000\"\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"333a758c9f97d1ded9f10390d8f1b016"]
      Location: ['https://api.contentful.com/users/me/access_tokens/1Ca9dLr0O9OmX18kIWZ4Is']
      X-CDN: [Incapsula]
      X-Contentful-Request-Id: [8d2b791a7196533a037c74e04e13e59f]
      X-Iinfo: [8-2565933-2565985 NNNN CT(156 136 0) RT(1498575595553 319) q(0 0 3
          -1) r(5 5) U5]
    status: {code: 201, message: Created}
version: 1
