interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; sdk contentful-management.py/1.3.1;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/users/me/access_tokens/6ZJFnifPKNpxU8r8j9Xz14
  response:
    body: {string: "{\n  \"name\":\"Playground\",\n  \"revokedAt\":null,\n  \"sys\":{\n
        \   \"type\":\"PersonalAccessToken\",\n    \"id\":\"6ZJFnifPKNpxU8r8j9Xz14\",\n
        \   \"createdAt\":\"2017-06-26T17:14:55Z\",\n    \"updatedAt\":\"2017-06-26T17:14:55Z\"\n
        \ },\n  \"scopes\":[\"content_management_manage\"]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"8723e1fcff417d7e1fb07cdd7578960f"]
      X-CDN: [Incapsula]
      X-Contentful-Request-Id: [f60fd4069fe8557ced6a555eb40a6223]
      X-Iinfo: [3-2081576-2081590 NNNN CT(142 141 0) RT(1498573729735 154) q(0 0 3
          -1) r(5 5) U5]
    status: {code: 200, message: OK}
version: 1
