interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [platform python/3.5.2; sdk contentful-management.py/1.3.1;
          os macOS/16.5.0;]
    method: GET
    uri: https://api.contentful.com/users/me/access_tokens/6ZKYaf1m2PyFU7Olcnw5jK
  response:
    body: {string: "{\n  \"name\":\"Test\",\n  \"revokedAt\":null,\n  \"sys\":{\n
        \   \"type\":\"PersonalAccessToken\",\n    \"id\":\"6ZKYaf1m2PyFU7Olcnw5jK\",\n
        \   \"createdAt\":\"2017-06-27T14:50:34Z\",\n    \"updatedAt\":\"2017-06-27T14:50:34Z\"\n
        \ },\n  \"scopes\":[\"content_management_manage\"]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"da979d2d10dbcc0025e0428d5683bed5"]
      X-CDN: [Incapsula]
      X-Contentful-Request-Id: [45dd45f51fb7ecfbece2bd83992af0a3]
      X-Iinfo: [3-2296093-2296113 NNNN CT(133 133 0) RT(1498575191940 106) q(0 0 3
          -1) r(4 4) U5]
    status: {code: 200, message: OK}
version: 1
