interactions:
- request:
    body: '{"controls": [{"fieldId": "name", "widgetId": "singleLine"}]}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      x-contentful-version: ['5']
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/foo/editor_interface
  response:
    body: {string: "{\n  \"controls\": [\n    {\n      \"fieldId\": \"name\",\n      \"widgetId\":
        \"singleLine\"\n    }\n  ],\n  \"sys\": {\n    \"id\": \"default\",\n    \"type\":
        \"EditorInterface\",\n    \"version\": 6,\n    \"createdAt\": \"2017-03-02T22:41:20.823Z\",\n
        \   \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"facgnwwgj5fe\"\n      }\n    },\n    \"contentType\": {\n
        \     \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"ContentType\",\n
        \       \"id\": \"foo\"\n      }\n    },\n    \"updatedAt\": \"2017-03-10T15:43:37.272Z\",\n
        \   \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"718bb47b9f75a2af0bd63da0687578a8"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35816']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [0c09cb0dd7ec0ee1aa16a0351e7e9d5f]
      X-Iinfo: [5-25488085-25488100 NNNN CT(87 87 0) RT(1489160616178 89) q(0 0 2
          -1) r(5 5) U5]
    status: {code: 200, message: OK}
version: 1
