interactions:
- request:
    body: '{"name": "Test Key with environments", "description": "Something goes here...",
      "environments": [{"sys": {"type": "Link", "linkType": "Environment", "id": "master"}},
      {"sys": {"type": "Link", "linkType": "Environment", "id": "testing"}}]}'
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.0.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: POST
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/api_keys
  response:
    body: {string: "{\n  \"name\":\"Test Key with environments\",\n  \"description\":\"Something
        goes here...\",\n  \"accessToken\":\"c1d66dacc804d95c9883b8892a005663f1099af234ad5bd8a4a3b21ccf7d22db\",\n
        \ \"policies\":[\n    {\n      \"effect\":\"allow\",\n      \"actions\":\"all\"\n
        \   }\n  ],\n  \"sys\":{\n    \"type\":\"ApiKey\",\n    \"id\":\"1wvsrLNS4cPx0gwMPdFkNk\",\n
        \   \"version\":0,\n    \"space\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n      }\n
        \   },\n    \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2018-05-15T13:24:18Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2018-05-15T13:24:18Z\"\n
        \ },\n  \"environments\":[\n    {\n      \"sys\":{\n        \"id\":\"master\",\n
        \       \"type\":\"Link\",\n        \"linkType\":\"Environment\"\n      }\n
        \   },\n    {\n      \"sys\":{\n        \"id\":\"testing\",\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Environment\"\n      }\n    }\n  ],\n  \"preview_api_key\":{\n
        \   \"sys\":{\n      \"type\":\"Link\",\n      \"linkType\":\"PreviewApiKey\",\n
        \     \"id\":\"1ww99HPwHhr62risllkKHU\"\n    }\n  }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"8480c791faf4a3551c6b1907337591e0"]
      Location: ['https://api.contentful.com/spaces/facgnwwgj5fe/api_keys/1wvsrLNS4cPx0gwMPdFkNk']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35996']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [6e4d0d6b550fe9959c96a26b0fd75d21]
      X-Iinfo: [5-2827949-2827955 NNNN CT(93 94 0) RT(1526390657620 71) q(0 0 2 -1)
          r(7 7) U5]
    status: {code: 201, message: Created}
version: 1
