interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.0.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/preview_api_keys/5mytqWZjcqEWMIHVfe5cUi
  response:
    body: {string: "{\n  \"name\":\"management.py - playground 1\",\n  \"description\":null,\n
        \ \"accessToken\":\"PREVIEW_TOKEN\",\n
        \ \"policies\":[\n    {\n      \"effect\":\"allow\",\n      \"actions\":\"all\"\n
        \   }\n  ],\n  \"sys\":{\n    \"type\":\"PreviewApiKey\",\n    \"id\":\"5mytqWZjcqEWMIHVfe5cUi\",\n
        \   \"version\":0,\n    \"space\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n      }\n
        \   },\n    \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2018-02-27T10:19:59Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2018-02-27T10:19:59Z\"\n
        \ },\n  \"environments\":[\n    {\n      \"sys\":{\n        \"id\":\"master\",\n
        \       \"type\":\"Link\",\n        \"linkType\":\"Environment\"\n      }\n
        \   }\n  ]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"f8047a35183c5d1c13a2ed8ddbc390e0"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35998']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [327c2654e228a0e6b4eee4e585a173a2]
      X-Iinfo: [4-1938164-1938173 NNNN CT(101 105 0) RT(1526389120066 69) q(0 0 2
          -1) r(4 4) U5]
    status: {code: 200, message: OK}
version: 1
