interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.0.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/api_keys/5mxNhKOZYOp1wzafOR9qPw
  response:
    body: {string: "{\n  \"name\":\"management.py - playground 1\",\n  \"description\":\"\",\n
        \ \"accessToken\":\"ba52beb5d428ca879aff9073cff7791f2c2ab9ff04a60911fec1ec3c80bcac6c\",\n
        \ \"policies\":[\n    {\n      \"effect\":\"allow\",\n      \"actions\":\"all\"\n
        \   }\n  ],\n  \"sys\":{\n    \"type\":\"ApiKey\",\n    \"id\":\"5mxNhKOZYOp1wzafOR9qPw\",\n
        \   \"version\":1,\n    \"space\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n      }\n
        \   },\n    \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2018-02-27T10:19:59Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2018-02-27T10:20:13Z\"\n
        \ },\n  \"environments\":[\n    {\n      \"sys\":{\n        \"id\":\"testing\",\n
        \       \"type\":\"Link\",\n        \"linkType\":\"Environment\"\n      }\n
        \   }\n  ],\n  \"preview_api_key\":{\n    \"sys\":{\n      \"type\":\"Link\",\n
        \     \"linkType\":\"PreviewApiKey\",\n      \"id\":\"5mytqWZjcqEWMIHVfe5cUi\"\n
        \   }\n  }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"87e77bf3868775cda5b9da89a4b1e149"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [acf0ac2885f3f79d12eb6947ea7eb470]
      X-Iinfo: [5-2610810-2610815 NNNN CT(113 231 0) RT(1526389068833 87) q(0 0 3
          -1) r(5 5) U5]
    status: {code: 200, message: OK}
version: 1
