interactions:
- request:
    body: '{"description": "Something goes here...", "name": "Not Test Key"}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      x-contentful-version: ['0']
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/api_keys/42sVZNadpFAje7EFwHOfVY
  response:
    body: {string: "{\n  \"name\":\"Not Test Key\",\n  \"description\":\"Something
        goes here...\",\n  \"accessToken\":\"4e967a59c87278366db655ec5de1b1dd6fe5d3a0ac64153c423f1f20f011b5e6\",\n
        \ \"policies\":[\n    {\n      \"effect\":\"allow\",\n      \"actions\":\"all\"\n
        \   }\n  ],\n  \"sys\":{\n    \"type\":\"ApiKey\",\n    \"id\":\"42sVZNadpFAje7EFwHOfVY\",\n
        \   \"version\":1,\n    \"space\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n      }\n
        \   },\n    \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2017-03-10T15:16:54Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2017-03-10T15:19:12Z\"\n
        \ },\n  \"preview_api_key\":{\n    \"sys\":{\n      \"type\":\"Link\",\n      \"linkType\":\"PreviewApiKey\",\n
        \     \"id\":\"42tsePcN4Re4NkMMoIccFE\"\n    }\n  }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"8baff79791115d124d23c6dbd19845bc"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35960']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['8']
      X-Contentful-Request-Id: [1b57a8e68f6f679b2284962bc7a78047]
      X-Iinfo: [6-7939591-7939595 NNNN CT(83 171 0) RT(1489159151887 83) q(0 0 3 -1)
          r(6 6) U5]
    status: {code: 200, message: OK}
version: 1
