interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.9.1; platform python/3.7.5; os macOS/19.2.0;
    method: GET
    uri: https://api.contentful.com/organizations
  response:
    body:
      string: "{\n  \"total\":1,\n  \"limit\":25,\n  \"skip\":0,\n  \"sys\":{\n \
        \   \"type\":\"Array\"\n  },\n  \"items\":[\n  {\n\
        \      \"name\":\"SDKs Test Organization - v2 Enterprise\",\n      \"sys\"\
        :{\n        \"type\":\"Organization\",\n        \"id\":\"org_id\"\
        ,\n        \"version\":2,\n        \"createdAt\":\"2018-10-08T13:23:19Z\"\
        ,\n        \"updatedAt\":\"2018-10-11T11:24:32Z\"\n      }\n    }\n  ]\n}\n\n"
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      ETag:
      - W/"69242cce20113c4c21c0c39abef5f89e"
      X-CDN:
      - Incapsula
      X-Contentful-Request-Id:
      - 21e94e1dc62a2b5e91a21a2c5e7ecb8e
      X-Iinfo:
      - 2-11021122-11021127 NNNY CT(0 0 0) RT(1583407344085 57) q(0 0 0 1) r(1 1)
        U5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.9.1; platform python/3.7.5; os macOS/19.2.0;
    method: GET
    uri: https://api.contentful.com/organizations/org_id/organization_periodic_usages
  response:
    body:
      string: "{\n  \"total\":4,\n  \"limit\":100,\n  \"skip\":0,\n  \"sys\":{\n \
        \   \"type\":\"Array\"\n  },\n  \"items\":[\n    {\n      \"metric\":\"cma\"\
        ,\n      \"usage\":18831,\n      \"usagePerDay\":{\n        \"2020-01-21\"\
        :483,\n        \"2020-01-22\":169,\n        \"2020-01-23\":185,\n        \"\
        2020-01-24\":251,\n        \"2020-01-25\":0,\n        \"2020-01-26\":0,\n\
        \        \"2020-01-27\":1502,\n        \"2020-01-28\":161,\n        \"2020-01-29\"\
        :33,\n        \"2020-01-30\":49,\n        \"2020-01-31\":305,\n        \"\
        2020-02-01\":0,\n        \"2020-02-02\":0,\n        \"2020-02-03\":541,\n\
        \        \"2020-02-04\":6083,\n        \"2020-02-05\":4185,\n        \"2020-02-06\"\
        :38,\n        \"2020-02-07\":87,\n        \"2020-02-08\":0,\n        \"2020-02-09\"\
        :28,\n        \"2020-02-10\":81,\n        \"2020-02-11\":433,\n        \"\
        2020-02-12\":558,\n        \"2020-02-13\":82,\n        \"2020-02-14\":0,\n\
        \        \"2020-02-15\":126,\n        \"2020-02-16\":0,\n        \"2020-02-17\"\
        :1165,\n        \"2020-02-18\":656,\n        \"2020-02-19\":178,\n       \
        \ \"2020-02-20\":133,\n        \"2020-02-21\":645,\n        \"2020-02-22\"\
        :0,\n        \"2020-02-23\":0,\n        \"2020-02-24\":0,\n        \"2020-02-25\"\
        :0,\n        \"2020-02-26\":324,\n        \"2020-02-27\":132,\n        \"\
        2020-02-28\":26,\n        \"2020-02-29\":0,\n        \"2020-03-01\":0,\n \
        \       \"2020-03-02\":46,\n        \"2020-03-03\":12,\n        \"2020-03-04\"\
        :86,\n        \"2020-03-05\":48\n      },\n      \"unitOfMeasure\":\"apiRequestsCount\"\
        ,\n      \"sys\":{\n        \"type\":\"OrganizationPeriodicUsage\",\n    \
        \    \"id\":\"usage-cma-org_id-2020-01-21-2020-03-05\",\n\
        \        \"organization\":{\n          \"sys\":{\n            \"type\":\"\
        Link\",\n            \"linkType\":\"Organization\",\n            \"id\":\"\
        org_id\"\n          }\n        }\n      },\n      \"dateRange\"\
        :{\n        \"startAt\":\"2020-01-21\",\n        \"endAt\":\"2020-03-05\"\n\
        \      }\n    },\n    {\n      \"metric\":\"cda\",\n      \"usage\":932,\n\
        \      \"usagePerDay\":{\n        \"2020-01-21\":1,\n        \"2020-01-22\"\
        :0,\n        \"2020-01-23\":7,\n        \"2020-01-24\":0,\n        \"2020-01-25\"\
        :0,\n        \"2020-01-26\":0,\n        \"2020-01-27\":0,\n        \"2020-01-28\"\
        :0,\n        \"2020-01-29\":0,\n        \"2020-01-30\":0,\n        \"2020-01-31\"\
        :6,\n        \"2020-02-01\":0,\n[...]
