interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.5.0; platform python/3.6.3;
          os macOS/16.7.0;]
      x-contentful-enable-alpha-feature: [usage-insights]
    method: GET
    uri: https://api.contentful.com/organizations/test_org/usage_periods
  response:
    body: {string: "{\n  \"total\":2,\n  \"sys\":{\n    \"type\":\"Array\"\n  },\n
        \ \"items\":[\n    {\n      \"startDate\":\"2018-11-01\",\n      \"endDate\":null,\n
        \     \"sys\":{\n        \"type\":\"UsagePeriod\",\n        \"id\":\"2\"\n
        \     }\n    },\n    {\n      \"startDate\":\"2018-10-01\",\n      \"endDate\":\"2018-10-31\",\n
        \     \"sys\":{\n        \"type\":\"UsagePeriod\",\n        \"id\":\"1\"\n
        \     }\n    }\n  ]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      Contentful-Api: [cma]
      ETag: [W/"0e32a37f3690af7bd68571521823b4c3"]
      X-CDN: [Incapsula]
      X-Contentful-Request-Id: [8c9ad7ef1e30d42a887bdff1a97a7cc0]
      X-Iinfo: [9-3335993-3336001 NNNN CT(87 176 0) RT(1541771798332 72) q(0 0 2 -1)
          r(3 3) U5]
    status: {code: 200, message: OK}
version: 1
