interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; platform python/3.5.2; sdk contentful-management.py/1.3.1;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships
  response:
    body: {string: "{\n  \"total\":1,\n  \"limit\":25,\n  \"skip\":0,\n  \"sys\":{\n
        \   \"type\":\"Array\"\n  },\n  \"items\":[\n    {\n      \"admin\":true,\n
        \     \"sys\":{\n        \"type\":\"SpaceMembership\",\n        \"id\":\"1NI22o8oAxT9Jnu2J9wJSu\",\n
        \       \"version\":0,\n        \"space\":{\n          \"sys\":{\n            \"type\":\"Link\",\n
        \           \"linkType\":\"Space\",\n            \"id\":\"facgnwwgj5fe\"\n
        \         }\n        },\n        \"createdBy\":{\n          \"sys\":{\n            \"type\":\"Link\",\n
        \           \"linkType\":\"User\",\n            \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"createdAt\":\"2017-03-02T18:30:27Z\",\n
        \       \"updatedBy\":{\n          \"sys\":{\n            \"type\":\"Link\",\n
        \           \"linkType\":\"User\",\n            \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"updatedAt\":\"2017-03-02T18:30:27Z\"\n
        \     },\n      \"user\":{\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"User\",\n          \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \       }\n      },\n      \"roles\":[]\n    }\n  ]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"4a8ba7d6a02f4617ac6a35b888a607d3"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [059bb91ea9ed5b8df52431eac00bbad6]
      X-Iinfo: [8-53455333-53455356 NNNN CT(134 134 0) RT(1499092392791 144) q(0 0
          3 0) r(5 5) U5]
    status: {code: 200, message: OK}
version: 1
