interactions:
- request:
    body: '{"email": "david.litva+test_memberships_create@contentful.com", "roles":
      [{"type": "Link", "id": "1Nq88dKTNXNaxkbrRpEEw6", "linkType": "Role"}], "admin":
      false}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.3.1; os macOS/16.5.0;
          platform python/3.5.2;]
    method: POST
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships
  response:
    body: {string: "{\n  \"admin\":false,\n  \"sys\":{\n    \"type\":\"SpaceMembership\",\n
        \   \"id\":\"3x8XW8RsuC70XSmtlkrbLg\",\n    \"version\":0,\n    \"space\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"Space\",\n
        \       \"id\":\"facgnwwgj5fe\"\n      }\n    },\n    \"createdBy\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2017-07-03T14:40:16Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2017-07-03T14:40:16Z\"\n
        \ },\n  \"user\":{\n    \"sys\":{\n      \"type\":\"Link\",\n      \"linkType\":\"User\",\n
        \     \"id\":\"3xagQOg6z3bxOhPcTpgsaq\"\n    }\n  },\n  \"roles\":[\n    {\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"Role\",\n
        \       \"id\":\"1Nq88dKTNXNaxkbrRpEEw6\"\n      }\n    }\n  ]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"1b7f0e6cb2b36843b1bd88825dd3ee8e"]
      Location: ['https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships/3x8XW8RsuC70XSmtlkrbLg']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35995']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [f8a0d61e38438990c27184c82d8864d8]
      X-Iinfo: [6-36025417-36025441 NNNN CT(138 272 0) RT(1499092815354 152) q(0 0
          4 -1) r(10 10) U5]
    status: {code: 201, message: Created}
version: 1
