interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; sdk contentful-management.py/1.3.1;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships/3x8XW8RsuC70XSmtlkrbLg
  response:
    body: {string: "{\n  \"admin\":true,\n  \"sys\":{\n    \"type\":\"SpaceMembership\",\n
        \   \"id\":\"3x8XW8RsuC70XSmtlkrbLg\",\n    \"version\":1,\n    \"space\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"Space\",\n
        \       \"id\":\"facgnwwgj5fe\"\n      }\n    },\n    \"createdBy\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2017-07-03T14:40:16Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2017-07-03T14:46:27Z\"\n
        \ },\n  \"user\":{\n    \"sys\":{\n      \"type\":\"Link\",\n      \"linkType\":\"User\",\n
        \     \"id\":\"3xagQOg6z3bxOhPcTpgsaq\"\n    }\n  },\n  \"roles\":[]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"ea879d5624f5e2304b185c3cfbce2f65"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35989']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [414b0b6b34e5ce6a8162f3e288a83646]
      X-Iinfo: [7-43812877-43812906 NNNN CT(131 267 0) RT(1499093288133 135) q(0 0
          4 -1) r(7 7) U5]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; sdk contentful-management.py/1.3.1;
          platform python/3.5.2;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships/3x8XW8RsuC70XSmtlkrbLg
  response:
    body: {string: "{\n  \"requestId\":\"429a4a6bb20b1c787ba72ab1d7ce1ef7\",\n  \"message\":\"The
        resource could not be found.\",\n  \"sys\":{\n    \"type\":\"Error\",\n    \"id\":\"NotFound\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35987']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [429a4a6bb20b1c787ba72ab1d7ce1ef7]
      X-Iinfo: [2-26893279-26893292 NNNN CT(133 135 0) RT(1499093290086 113) q(0 1
          3 -1) r(5 5) U5]
    status: {code: 404, message: Not Found}
version: 1
