interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [platform python/3.5.2; sdk contentful-management.py/1.3.1;
          os macOS/16.5.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships/1NI22o8oAxT9Jnu2J9wJSu
  response:
    body: {string: "{\n  \"admin\":true,\n  \"sys\":{\n    \"type\":\"SpaceMembership\",\n
        \   \"id\":\"1NI22o8oAxT9Jnu2J9wJSu\",\n    \"version\":0,\n    \"space\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"Space\",\n
        \       \"id\":\"facgnwwgj5fe\"\n      }\n    },\n    \"createdBy\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2017-03-02T18:30:27Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2017-03-02T18:30:27Z\"\n
        \ },\n  \"user\":{\n    \"sys\":{\n      \"type\":\"Link\",\n      \"linkType\":\"User\",\n
        \     \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n    }\n  },\n  \"roles\":[]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"81a83a3caf5c2829b0cf422b77082076"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35998']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [d59b83fbd2076eb25a3ecf04935c6334]
      X-Iinfo: [3-50598717-50598739 NNNN CT(140 140 0) RT(1499092493156 165) q(0 0
          3 -1) r(5 5) U5]
    status: {code: 200, message: OK}
version: 1
