interactions:
- request:
    body: '{"name": "Not Klingon", "policies": [], "description": "Test role", "permissions":
      {"Settings": [], "ContentDelivery": [], "ContentModel": []}}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      x-contentful-version: ['0']
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/roles/1a6FSwjdLnKifppXvfELau
  response:
    body: {string: "{\n  \"name\":\"Not Klingon\",\n  \"description\":\"Test role\",\n
        \ \"policies\":[],\n  \"permissions\":{\n    \"ContentModel\":[],\n    \"Settings\":[],\n
        \   \"ContentDelivery\":[]\n  },\n  \"sys\":{\n    \"type\":\"Role\",\n    \"id\":\"1a6FSwjdLnKifppXvfELau\",\n
        \   \"version\":1,\n    \"space\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n      }\n
        \   },\n    \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2017-03-10T16:54:28Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2017-03-10T16:59:28Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"76a2729705481cdfd28f82a439526390"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35953']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['8']
      X-Contentful-Request-Id: [3c11820fee8f03dfd6191aa744677a33]
      X-Iinfo: [9-25476700-25467735 PNNN RT(1489165168097 86) q(0 0 0 -1) r(2 2) U5]
    status: {code: 200, message: OK}
version: 1
