interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.6.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe
  response:
    body: {string: "{\n  \"name\":\"management.py - playground\",\n  \"sys\":{\n    \"type\":\"Space\",\n
        \   \"id\":\"facgnwwgj5fe\",\n    \"version\":1,\n    \"createdBy\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2017-03-02T18:30:26Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2017-03-02T18:30:26Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      Contentful-Api: [cma]
      ETag: [W/"2f3dfae3ec7e58a21484de15f2c063b5"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [068eca274ed1b66b90646f07a1fe72f3]
      X-Iinfo: [14-7289600-7287321 PNNN RT(1547720667803 56) q(0 0 0 -1) r(2 2) U5]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.6.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master
  response:
    body: {string: "{\n  \"name\":\"master\",\n  \"sys\":{\n    \"type\":\"Environment\",\n
        \   \"id\":\"master\",\n    \"version\":1,\n    \"space\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n
        \     }\n    },\n    \"status\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Status\",\n        \"id\":\"ready\"\n      }\n    },\n
        \   \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"createdAt\":\"2017-12-07T10:54:10Z\",\n
        \   \"updatedBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2017-12-07T10:54:10Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      Contentful-Api: [cma]
      ETag: [W/"22a25eea35acc74ea3d1b641479654a1"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35998']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['8']
      X-Contentful-Request-Id: [e3f66d58b0f4d1d0adfd5d51bbd4e9a5]
      X-Iinfo: [4-8115798-8113654 PNNN RT(1547720668102 46) q(0 0 0 -1) r(2 2) U5]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.6.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 25,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"sys\": {\n
        \       \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n
        \         }\n        },\n        \"id\": \"foo\",\n        \"type\": \"Entry\",\n
        \       \"createdAt\": \"2017-03-02T21:50:42.413Z\",\n        \"updatedAt\":
        \"2017-03-02T21:50:47.966Z\",\n        \"environment\": {\n          \"sys\":
        {\n            \"id\": \"master\",\n            \"type\": \"Link\",\n            \"linkType\":
        \"Environment\"\n          }\n        },\n        \"createdBy\": {\n          \"sys\":
        {\n            \"type\": \"Link\",\n            \"linkType\": \"User\",\n
        \           \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n          }\n        },\n
        \       \"updatedBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"publishedCounter\": 1,\n        \"version\":
        2,\n        \"publishedBy\": {\n          \"sys\": {\n            \"type\":
        \"Link\",\n            \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"publishedVersion\": 1,\n        \"firstPublishedAt\":
        \"2017-03-02T21:50:47.936Z\",\n        \"publishedAt\": \"2017-03-02T21:50:47.936Z\",\n
        \       \"contentType\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"ContentType\",\n            \"id\": \"test\"\n
        \         }\n        }\n      },\n      \"fields\": {\n        \"name\": {\n
        \         \"en-US\": \"foobar\"\n        }\n      }\n    },\n    {\n      \"sys\":
        {\n        \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n
        \         }\n        },\n        \"id\": \"4dI1y4PKdWWCSC0CwQakOa\",\n        \"type\":
        \"Entry\",\n        \"createdAt\": \"2017-03-02T18:49:22.569Z\",\n        \"updatedAt\":
        \"2017-03-10T13:38:59.457Z\",\n        \"environment\": {\n   [...]
