interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.5.0; platform python/3.6.3;
          os macOS/16.7.0;]
      x-contentful-enable-alpha-feature: [usage-insights]
    method: GET
    uri: https://api.contentful.com/organizations/test_org/usages/organization?filters%5BusagePeriod%5D=1&filters%5Bmetric%5D=all_apis
  response:
    body: {string: "{\n  \"total\":1,\n  \"limit\":25,\n  \"skip\":0,\n  \"sys\":{\n
        \   \"type\":\"Array\"\n  },\n  \"items\":[\n    {\n      \"unitOfMeasure\":\"apiRequests\",\n
        \     \"interval\":\"daily\",\n      \"usage\":[\n        0,\n        0,\n
        \       0,\n        0,\n        0,\n        0,\n        0,\n        0,\n        0,\n
        \       0,\n        28094,\n        89463,\n        23032,\n        0,\n        22,\n
        \       0,\n        27,\n        10,\n        0,\n        0,\n        0,\n
        \       12,\n        36,\n        11,\n        11,\n        12,\n        0,\n
        \       0,\n        0,\n        25,\n        47\n      ],\n      \"sys\":{\n
        \       \"type\":\"ApiUsage\",\n        \"id\":\"1_test_org\",\n
        \       \"organization\":{\n          \"sys\":{\n            \"type\":\"Link\",\n
        \           \"linkType\":\"Organization\",\n            \"id\":\"test_org\"\n
        \         }\n        },\n        \"usagePeriod\":{\n          \"sys\":{\n
        \           \"type\":\"Link\",\n            \"linkType\":\"UsagePeriod\",\n
        \           \"id\":\"1\"\n          }\n        }\n      }\n    }\n  ]\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      Contentful-Api: [cma]
      ETag: [W/"fc477146b41ba1269823b87cbb3642db"]
      X-CDN: [Incapsula]
      X-Contentful-Request-Id: [96034117e1659a7255ef91edb65dd4f2]
      X-Iinfo: [9-3495847-3495866 NNNN CT(0 0 0) RT(1541775789764 82) q(0 0 0 -1)
          r(2 2) U5]
    status: {code: 200, message: OK}
version: 1
