interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.5.2; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments
  response:
    body: {string: "{\n  \"total\":2,\n  \"limit\":25,\n  \"skip\":0,\n  \"sys\":{\n
        \   \"type\":\"Array\"\n  },\n  \"items\":[\n    {\n      \"name\":\"master\",\n
        \     \"sys\":{\n        \"type\":\"Environment\",\n        \"id\":\"master\",\n
        \       \"version\":1,\n        \"space\":{\n          \"sys\":{\n            \"type\":\"Link\",\n
        \           \"linkType\":\"Space\",\n            \"id\":\"facgnwwgj5fe\"\n
        \         }\n        },\n        \"status\":{\n          \"sys\":{\n            \"type\":\"Link\",\n
        \           \"linkType\":\"Status\",\n            \"id\":\"ready\"\n          }\n
        \       },\n        \"locales\":[\n          {\n            \"sys\":{\n              \"type\":\"Link\",\n
        \             \"linkType\":\"Locale\",\n              \"id\":\"1NkEdf220AtNFVgJO9fFQ2\"\n
        \           }\n          },\n          {\n            \"sys\":{\n              \"type\":\"Link\",\n
        \             \"linkType\":\"Locale\",\n              \"id\":\"2QKRtwD3DKOkYKXJJsYdHk\"\n
        \           }\n          },\n          {\n            \"sys\":{\n              \"type\":\"Link\",\n
        \             \"linkType\":\"Locale\",\n              \"id\":\"4YnLeSNLymCAZ6eYwJmhzu\"\n
        \           }\n          }\n        ],\n        \"createdBy\":{\n          \"sys\":{\n
        \           \"type\":\"Link\",\n            \"linkType\":\"User\",\n            \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"createdAt\":\"2017-12-07T10:54:10Z\",\n
        \       \"updatedBy\":{\n          \"sys\":{\n            \"type\":\"Link\",\n
        \           \"linkType\":\"User\",\n            \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"updatedAt\":\"2017-12-07T10:54:10Z\"\n
        \     }\n    },\n    {\n      \"name\":\"testing\",\n      \"sys\":{\n        \"type\":\"Environment\",\n
        \       \"id\":\"testing\",\n        \"version\":6,\n        \"space\":{\n
        \         \"sys\":{\n            \"type\":\"Link\",\n            \"linkType\":\"Space\",\n
        \           \"id\":\"facgnwwgj5fe\"\n          }\n        },\n        \"status\":{\n
        \         \"sys\":{\n            \"type\":\"Link\",\n            \"linkType\[...]
