interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.5.2; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/testing/entries
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 22,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"sys\": {\n
        \       \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n
        \         }\n        },\n        \"id\": \"IJLRrADsqq2AmwcugoYeK\",\n        \"type\":
        \"Entry\",\n        \"createdAt\": \"2017-05-08T14:06:14.367Z\",\n        \"updatedAt\":
        \"2017-05-09T13:39:59.063Z\",\n        \"environment\": {\n          \"sys\":
        {\n            \"id\": \"testing\",\n            \"type\": \"Link\",\n            \"linkType\":
        \"Environment\"\n          }\n        },\n        \"createdBy\": {\n          \"sys\":
        {\n            \"type\": \"Link\",\n            \"linkType\": \"User\",\n
        \           \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n          }\n        },\n
        \       \"updatedBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"publishedCounter\": 16,\n        \"version\":
        57,\n        \"publishedBy\": {\n          \"sys\": {\n            \"type\":
        \"Link\",\n            \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"publishedVersion\": 56,\n        \"firstPublishedAt\":
        \"2017-05-08T14:06:25.154Z\",\n        \"publishedAt\": \"2017-05-09T13:39:59.032Z\",\n
        \       \"contentType\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"ContentType\",\n            \"id\": \"cat\"\n
        \         }\n        }\n      },\n      \"fields\": {\n        \"name\": {\n
        \         \"en-US\": \"Fat Cat\"\n        },\n        \"lives\": {\n          \"en-US\":
        1337\n        },\n        \"bestFriend\": {\n          \"en-US\": {\n            \"sys\":
        {\n              \"type\": \"Link\",\n              \"linkType\": \"Entry\",\n
        \             \"id\": \"cq0MrAkH8A0Q8QsYquwMq\"\n            }\n          }\n
        \       }\n      }\n    },\n    {\n      \"sys\": {\n        \"space\": {\n
        \         \"sys\": {\n            \"type\": \"Link\",\n            \"linkType\":
        \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n          }\n        },\n
        \       \"id\[...]
