interactions:
- request:
    body: '{"name": "SDK Tests"}'
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.5.2; platform python/3.6.3;
          os macOS/16.7.0;]
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/sdk_tests
  response:
    body: {string: "{\n  \"name\":\"SDK Tests\",\n  \"sys\":{\n    \"type\":\"Environment\",\n
        \   \"id\":\"sdk_tests\",\n    \"version\":1,\n    \"space\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n
        \     }\n    },\n    \"status\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Status\",\n        \"id\":\"queued\"\n      }\n    },\n
        \   \"locales\":[\n      {\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"Locale\",\n          \"id\":\"1NkEdf220AtNFVgJO9fFQ2\"\n
        \       }\n      },\n      {\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"Locale\",\n          \"id\":\"2QKRtwD3DKOkYKXJJsYdHk\"\n
        \       }\n      },\n      {\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"Locale\",\n          \"id\":\"4YnLeSNLymCAZ6eYwJmhzu\"\n
        \       }\n      }\n    ],\n    \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2018-03-05T11:18:12Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2018-03-05T11:18:12Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"abe43d0724aaf7bc76fa8ea2bb08f366"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [13de50041eeef5eaad07f8518dbc532f]
      X-Iinfo: [2-49703788-49703793 NNNN CT(88 89 0) RT(1520248691716 56) q(0 0 2
          -1) r(6 6) U5]
    status: {code: 201, message: Created}
version: 1
