interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.7.0; platform python/3.7.2;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master
  response:
    body: {string: "{\n  \"name\":\"master\",\n  \"sys\":{\n    \"type\":\"Environment\",\n
        \   \"id\":\"master\",\n    \"version\":1,\n    \"space\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n
        \     }\n    },\n    \"status\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Status\",\n        \"id\":\"ready\"\n      }\n    },\n
        \   \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"createdAt\":\"2017-12-07T10:54:10Z\",\n
        \   \"updatedBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2017-12-07T10:54:10Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      Contentful-Api: [cma]
      ETag: [W/"22a25eea35acc74ea3d1b641479654a1"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [46395aa9bf6786922268e4579a9b7f22]
      X-Iinfo: [8-13178468-13178470 NNNN CT(0 0 0) RT(1550601096428 26) q(0 0 0 -1)
          r(2 2) U5]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.7.0; platform python/3.7.2;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 25,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": [\n    {\n      \"sys\": {\n
        \       \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n
        \         }\n        },\n        \"id\": \"57MJtMRZYsoekQwQgiKWKg\",\n        \"type\":
        \"Entry\",\n        \"createdAt\": \"2017-11-17T12:40:26.506Z\",\n        \"updatedAt\":
        \"2017-11-17T12:40:26.506Z\",\n        \"environment\": {\n          \"sys\":
        {\n            \"id\": \"master\",\n            \"type\": \"Link\",\n            \"linkType\":
        \"Environment\"\n          }\n        },\n        \"createdBy\": {\n          \"sys\":
        {\n            \"type\": \"Link\",\n            \"linkType\": \"User\",\n
        \           \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n          }\n        },\n
        \       \"updatedBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"version\": 1,\n        \"contentType\":
        {\n          \"sys\": {\n            \"type\": \"Link\",\n            \"linkType\":
        \"ContentType\",\n            \"id\": \"somethingWithLinks\"\n          }\n
        \       }\n      },\n      \"fields\": {}\n    },\n    {\n      \"sys\": {\n
        \       \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n
        \         }\n        },\n        \"id\": \"id_create_test\",\n        \"type\":
        \"Entry\",\n        \"createdAt\": \"2017-03-10T13:54:19.698Z\",\n        \"updatedAt\":
        \"2017-03-10T13:54:19.710Z\",\n        \"environment\": {\n          \"sys\":
        {\n            \"id\": \"master\",\n            \"type\": \"Link\",\n            \"linkType\":
        \"Environment\"\n          }\n        },\n        \"createdBy\": {\n          \"sys\":
        {\n            \"type\": \"Link\",\n            \"linkType\": \"User\",\n
        \           \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n          }\n        },\n
        \       \"updatedBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"version\": 1,\n        \"contentType\":
        {\n          \"sys\": {\n            \"type\": \"Link\",\n            \"linkType\":
        \"ContentType\",\n            \"id\": \"foo\"\n          }\n        }\n      },\n
        \     \"fields\": {\n        \"name\": {\n          \"en-US\": \"foobar\"\n
        \       }\n      }\n    },\n    {\n      \"sys\": {\n        \"space\": {\n
        \         \"sys\": {\n            \"type\": \"Link\",\n            \"linkType\":
        \"Space\",\n            \"id\": \"facgnwwgj5fe\"\n          }\n        },\n
        \       \"id\": \"33uj74Wln2Oc02CAyEY8CK\",\n        \"type\": \"Entry\",\n
        \       \"createdAt\": \"2017-04-25T16:01:56.936Z\",\n        \"updatedAt\":
        \"2017-04-25T16:35:55.545Z\",\n        \"environment\": {\n          \"sys\":
        {\n            \"id\": \"master\",\n            \"type\": \"Link\",\n            \"linkType\":
        \"Environment\"\n          }\n        },\n        \"createdBy\": {\n          \"sys\":
        {\n            \"type\": \"Link\",\n            \"linkType\": \"User\",\n
        \           \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n          }\n        },\n
        \       \"updatedBy\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"publishedCounter\": 2,\n        \"version\":
        7,\n        \"publishedBy\": {\n          \"sys\": {\n            \"type\":
        \"Link\",\n            \"linkType\": \"User\",\n            \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"publishedVersion\": 5,\n        \"firstPublishedAt\":
        \"2017-04-25T16:02:06.147Z\",\n        \"publishedAt\": \"2017-04-25T16:02:10.000Z\",\n
        \       \"contentType\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\": \"ContentType\",\n            \"id\": \"foo\"\n
        \         }\n        }\n      },\n      \"fields\": {\n        \"name\": {\n
        \         \"en-US\": \"foo\"\n        }\n      }\n    },\n    {\n      \"sys\":
        {\n        \"space\": {\n          \"sys\": {\n            \"type\": \"Link\",\n
        \           \"linkType\[...]
- request:
    body: '{"name": "Non Master - Python"}'
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-Source-Environment: [source]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.7.0; platform python/3.7.2;
          os macOS/16.7.0;]
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/non-master-py
  response:
    body: {string: "{\n  \"name\":\"Non Master - Python\",\n  \"sys\":{\n    \"type\":\"Environment\",\n
        \   \"id\":\"non-master-py\",\n    \"version\":1,\n    \"space\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"Sp[...]
[...]
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.7.0; platform python/3.7.2;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/non-master-py/entries
  response:
    body: {string: "{\n  \"sys\": {\n    \"type\": \"Array\"\n  },\n  \"total\": 0,\n
        \ \"skip\": 0,\n  \"limit\": 100,\n  \"items\": []\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      Contentful-Api: [cma]
      ETag: ['"29f2c21be26360c424f617d8592cf6f9"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35999']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [304ba6543d978405e8788aea106a2f2d]
      X-Iinfo: [1-14336835-14336836 NNNN CT(0 0 0) RT(1550601103741 22) q(0 0 0 -1)
          r(8 8) U5]
    status: {code: 200, message: OK}
version: 1
