interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.5.2; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/testing
  response:
    body: {string: "{\n  \"name\":\"testing\",\n  \"sys\":{\n    \"type\":\"Environment\",\n
        \   \"id\":\"testing\",\n    \"version\":6,\n    \"space\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n
        \     }\n    },\n    \"status\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Status\",\n        \"id\":\"ready\"\n      }\n    },\n
        \   \"locales\":[\n      {\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"Locale\",\n          \"id\":\"1NkEdf220AtNFVgJO9fFQ2\"\n
        \       }\n      },\n      {\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"Locale\",\n          \"id\":\"2QKRtwD3DKOkYKXJJsYdHk\"\n
        \       }\n      },\n      {\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"Locale\",\n          \"id\":\"4YnLeSNLymCAZ6eYwJmhzu\"\n
        \       }\n      }\n    ],\n    \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2018-02-27T10:19:01Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2018-02-27T10:19:04Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"7addbd6e3f984290085000843bde767d"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35960']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [405dd4e8cab6dba041158b56f1ca2eb3]
      X-Iinfo: [5-71348222-71348241 NNNN CT(130 92 0) RT(1520249809689 63) q(0 0 2
          -1) r(4 4) U5]
    status: {code: 200, message: OK}
version: 1
