interactions:
- request:
    body: '{"name": "SDK Tests - No ID"}'
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.5.2; platform python/3.6.3;
          os macOS/16.7.0;]
    method: POST
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/None
  response:
    body: {string: "{\n  \"requestId\":\"363d1eaec9b001a6764cd232a832955c\",\n  \"message\":\"The
        path you tried to reach is unknown or doesn't support this HTTP method.\",\n
        \ \"sys\":{\n    \"type\":\"Error\",\n    \"id\":\"UnknownRoute\"\n  }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35998']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [363d1eaec9b001a6764cd232a832955c]
      X-Iinfo: [2-49717399-49717405 NNNN CT(98 201 0) RT(1520248814396 63) q(0 0 3
          -1) r(4 4) U5]
    status: {code: 404, message: Not Found}
version: 1
