interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.5.2; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/sdk_tests
  response:
    body: {string: "{\n  \"requestId\":\"7f0dca98f9010d0ee3f97c80b844ad61\",\n  \"message\":\"The
        resource could not be found.\",\n  \"sys\":{\n    \"type\":\"Error\",\n    \"id\":\"NotFound\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35994']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [7f0dca98f9010d0ee3f97c80b844ad61]
      X-Iinfo: [9-100173915-100173924 NNNN CT(107 111 0) RT(1520249433745 54) q(0
          1 3 -1) r(4 4) U5]
    status: {code: 404, message: Not Found}
version: 1
