interactions:
- request:
    body: '{"name": "something else"}'
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/1.5.2; platform python/3.6.3;
          os macOS/16.7.0;]
      x-contentful-version: ['6']
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/sdk_tests
  response:
    body: {string: "{\n  \"name\":\"something else\",\n  \"sys\":{\n    \"type\":\"Environment\",\n
        \   \"id\":\"sdk_tests\",\n    \"version\":7,\n    \"space\":{\n      \"sys\":{\n
        \       \"type\":\"Link\",\n        \"linkType\":\"Space\",\n        \"id\":\"facgnwwgj5fe\"\n
        \     }\n    },\n    \"status\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"Status\",\n        \"id\":\"ready\"\n      }\n    },\n
        \   \"locales\":[\n      {\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"Locale\",\n          \"id\":\"1NkEdf220AtNFVgJO9fFQ2\"\n
        \       }\n      },\n      {\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"Locale\",\n          \"id\":\"2QKRtwD3DKOkYKXJJsYdHk\"\n
        \       }\n      },\n      {\n        \"sys\":{\n          \"type\":\"Link\",\n
        \         \"linkType\":\"Locale\",\n          \"id\":\"4YnLeSNLymCAZ6eYwJmhzu\"\n
        \       }\n      }\n    ],\n    \"createdBy\":{\n      \"sys\":{\n        \"type\":\"Link\",\n
        \       \"linkType\":\"User\",\n        \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \     }\n    },\n    \"createdAt\":\"2018-03-05T11:18:12Z\",\n    \"updatedBy\":{\n
        \     \"sys\":{\n        \"type\":\"Link\",\n        \"linkType\":\"User\",\n
        \       \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"updatedAt\":\"2018-03-05T11:29:08Z\"\n
        \ }\n}\n\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: [W/"fdd38f9b41836b1736d8cc9268a3187f"]
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35996']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['8']
      X-Contentful-Request-Id: [852b29a3ff88841550d27b9e4f9fb027]
      X-Iinfo: [9-100159572-100159588 NNNN CT(108 224 0) RT(1520249347221 74) q(0
          0 4 -1) r(7 7) U5]
    status: {code: 200, message: OK}
version: 1
