interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/25.0.0;
    method: GET
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/assets/56PfMcxCLyzuXP3k7k0yL5
  response:
    body:
      string: '{"metadata":{"tags":[],"concepts":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"o4h6g9w3pooi"}},"id":"56PfMcxCLyzuXP3k7k0yL5","type":"Asset","createdAt":"2025-09-20T09:30:12.704Z","updatedAt":"2025-09-20T09:33:27.040Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":7,"publishedAt":"2025-09-20T09:32:24.031Z","firstPublishedAt":"2025-09-20T09:32:24.031Z","createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"publishedCounter":1,"version":12,"publishedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"fieldStatus":{"*":{"en-US":"published"}},"urn":"crn:contentful:::content:spaces/o4h6g9w3pooi/environments/master/assets/56PfMcxCLyzuXP3k7k0yL5"},"fields":{"title":{"en-US":"Casa
        Padrino Designer Sofa"},"file":{"en-US":{"url":"https://images.secure.ctfassets.net/o4h6g9w3pooi/56PfMcxCLyzuXP3k7k0yL5/3f0dab93b4941ef001a2fbc1491f7237/Casa-Padrino-Designer-Sofa-Gruen-315-x-82-x-H--70-cm-Wohnzimmer-Sofa-Loft-Sofa-Hotel-Sofa-Lobby-Sofa-Luxus-Qualitaet-114738_.JPG","details":{"size":173982,"image":{"width":1200,"height":809}},"fileName":"Casa-Padrino-Designer-Sofa-Gruen-315-x-82-x-H--70-cm-Wohnzimmer-Sofa-Loft-Sofa-Hotel-Sofa-Lobby-Sofa-Luxus-Qualitaet-114738_1.JPG","contentType":"image/jpeg"}}}}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      ETag:
      - '"12727540586009054956"'
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      X-Contentful-Route:
      - /spaces/:space/environments/:environment/assets/:id
      x-contentful-request-id:
      - 7f66b98d-ee25-425e-a44a-a9b7840c7fc2
    status:
      code: 200
      message: OK
- request:
    body: '{"fields": {"title": {"en-US": "Casa Padrino Designer Sofa"}, "file": {"en-US":
      {"url": "https://images.secure.ctfassets.net/o4h6g9w3pooi/56PfMcxCLyzuXP3k7k0yL5/3f0dab93b4941ef001a2fbc1491f7237/Casa-Padrino-Designer-Sofa-Gruen-315-x-82-x-H--70-cm-Wohnzimmer-Sofa-Loft-Sofa-Hotel-Sofa-Lobby-Sofa-Luxus-Qualitaet-114738_.JPG",
      "details": {"size": 173982, "image": {"width": 1200, "height": 809}}, "fileName":
      "Casa-Padrino-Designer-Sofa-Gruen-315-x-82-x-H--70-cm-Wohnzimmer-Sofa-Loft-Sofa-Hotel-Sofa-Lobby-Sofa-Luxus-Qualitaet-114738_1.JPG",
      "contentType": "image/jpeg"}}}, "metadata": {"concepts": [{"sys": {"type": "Link",
      "linkType": "TaxonomyConcept", "id": "greenSofas"}}], "tags": []}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/25.0.0;
      x-contentful-version:
      - '12'
    method: PUT
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/assets/56PfMcxCLyzuXP3k7k0yL5
  response:
    body:
      string: '{"metadata":{"tags":[],"concepts":[{"sys":{"type":"Link","linkType":"TaxonomyConcept","id":"greenSofas"}}]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"o4h6g9w3pooi"}},"id":"56PfMcxCLyzuXP3k7k0yL5","type":"Asset","createdAt":"2025-09-20T09:30:12.704Z","updatedAt":"2025-09-20T09:33:35.786Z","environment":{"sy[...]
[...]
