interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/25.0.0;
    method: GET
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/entries/1emVC32ZCCjYvUgDgtZQR8
  response:
    body:
      string: '{"metadata":{"tags":[],"concepts":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"o4h6g9w3pooi"}},"id":"1emVC32ZCCjYvUgDgtZQR8","type":"Entry","createdAt":"2025-09-18T15:47:38.093Z","updatedAt":"2025-09-19T06:59:36.063Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":6,"publishedAt":"2025-09-19T06:59:36.063Z","firstPublishedAt":"2025-09-18T15:47:52.716Z","createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"publishedCounter":2,"version":7,"publishedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"fieldStatus":{"*":{"en-US":"published"}},"automationTags":[],"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"barfoo"}},"urn":"crn:contentful:::content:spaces/o4h6g9w3pooi/environments/master/entries/1emVC32ZCCjYvUgDgtZQR8"},"fields":{"title":{"en-US":"Home
        Concepts"}}}

        '
    headers:
      Accept-Patch:
      - application/json-patch+json
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      ETag:
      - '"14809454881604016421"'
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      X-Contentful-Route:
      - /spaces/:space/environments/:environment/entries/:id
      x-contentful-request-id:
      - 39c7af08-1c76-4960-a852-1608c77edff9
    status:
      code: 200
      message: OK
- request:
    body: '{"fields": {"title": {"en-US": "Home Concepts"}}, "metadata": {"concepts":
      [{"sys": {"type": "Link", "linkType": "TaxonomyConcept", "id": "greenSofas"}}],
      "tags": []}}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.14.6; platform python/3.12.7; os macOS/25.0.0;
      x-contentful-content-type:
      - barfoo
      x-contentful-version:
      - '7'
    method: PUT
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/entries/1emVC32ZCCjYvUgDgtZQR8
  response:
    body:
      string: '{"metadata":{"tags":[],"concepts":[{"sys":{"type":"Link","linkType":"TaxonomyConcept","id":"greenSofas"}}]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"o4h6g9w3pooi"}},"id":"1emVC32ZCCjYvUgDgtZQR8","type":"Entry","createdAt":"2025-09-18T15:47:38.093Z","updatedAt":"2025-09-19T06:59:46.090Z","environment":{"sy[...]
[...]
