interactions:
- request:
    body: '{"name": "Create Test", "description": "Something goes here...", "fields":
      [{"id": "myResourceLink", "name": "My Resource Link", "type": "ResourceLink",
      "localized": true, "disabled": false, "omitted": false, "allowedResources":
      [{"type": "Contentful:Entry", "source": "crn:contentful:::content:spaces/yb41ceqgyiw5",
      "contentTypes": ["foo", "bar"]}]}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.11.0; platform python/3.8.9; os macOS/22.1.0;
    method: POST
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types
  response:
    body:
      string: "{\n  \"sys\": {\n    \"space\": {\n      \"sys\": {\n        \"type\"\
        : \"Link\",\n        \"linkType\": \"Space\",\n        \"id\": \"facgnwwgj5fe\"\
        \n      }\n    },\n    \"id\": \"3F98etLR7D2Qn4pXRRT5Gn\",\n    \"type\":\
        \ \"ContentType\",\n    \"createdAt\": \"2023-02-05T03:48:07.082Z\",\n   \
        \ \"updatedAt\": \"2023-02-05T03:48:07.082Z\",\n    \"environment\": {\n \
        \     \"sys\": {\n        \"id\": \"master\",\n        \"type\": \"Link\"\
        ,\n        \"linkType\": \"Environment\"\n      }\n    },\n    \"createdBy\"\
        : {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":\
        \ \"User\",\n        \"id\": \"59Erm8D1JuuD273aXNb65T\"\n      }\n    },\n\
        \    \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n   \
        \     \"linkType\": \"User\",\n        \"id\": \"59Erm8D1JuuD273aXNb65T\"\n\
        \      }\n    },\n    \"publishedCounter\": 0,\n    \"version\": 1\n  },\n\
        \  \"displayField\": null,\n  \"name\": \"Create Test\",\n  \"description\"\
        : \"Something goes here...\",\n  \"fields\": [\n    {\n      \"id\": \"myResourceLink\"\
        ,\n      \"name\": \"My Resource Link\",\n      \"type\": \"ResourceLink\"\
        ,\n      \"localized\": true,\n      \"required\": false,\n      \"validations\"\
        : [],\n      \"disabled\": false,\n      \"omitted\": false,\n      \"allowedResources\"\
        : [\n        {\n          \"type\": \"Contentful:Entry\",\n          \"source\"\
        : \"crn:contentful:::content:spaces/yb41ceqgyiw5\",\n          \"contentTypes\"\
        : [\n            \"foo\",\n            \"bar\"\n          ]\n        }\n \
        \     ]\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      etag:
      - '"3915434941246858595"'
      x-contentful-request-id:
      - 3e474a8f-daeb-4fe3-b973-9e65f88f2d3d
      x-contentful-route:
      - /spaces/:space/environments/:environment/content_types
    status:
      code: 201
      message: Created
version: 1
