interactions:
- request:
    body: '{"name": "ID Create Test", "displayField": "name", "fields": [{"name":
      "Name", "id": "name", "type": "Symbol"}], "description": "Something goes here..."}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/id_content_type_create_test
  response:
    body: {string: "{\n  \"name\": \"ID Create Test\",\n  \"displayField\": \"name\",\n
        \ \"fields\": [\n    {\n      \"name\": \"Name\",\n      \"id\": \"name\",\n
        \     \"type\": \"Symbol\",\n      \"localized\": false,\n      \"required\":
        false,\n      \"disabled\": false,\n      \"omitted\": false,\n      \"validations\":
        []\n    }\n  ],\n  \"description\": \"Something goes here...\",\n  \"sys\":
        {\n    \"id\": \"id_content_type_create_test\",\n    \"type\": \"ContentType\",\n
        \   \"version\": 1,\n    \"createdAt\": \"2017-03-10T15:36:41.568Z\",\n    \"createdBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"facgnwwgj5fe\"\n      }\n    },\n    \"updatedAt\": \"2017-03-10T15:36:41.568Z\",\n
        \   \"updatedBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"a5c4caf9f52541a39dc7720d88022d99"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35846']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [52c2e911990096fd7cd6acdd2de3b065]
      X-Iinfo: [2-9908007-9908017 NNNN CT(76 76 0) RT(1489160200493 90) q(0 0 2 -1)
          r(6 6) U5]
    status: {code: 201, message: Created}
version: 1
