interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; platform python/3.5.2; sdk contentful-management.py/1.3.1;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/cat
  response:
    body: {string: "{\n  \"name\": \"Cat\",\n  \"fields\": [\n    {\n      \"name\":
        \"Name\",\n      \"id\": \"name\",\n      \"type\": \"Symbol\",\n      \"validations\":
        [],\n      \"localized\": false,\n      \"required\": false,\n      \"disabled\":
        false,\n      \"omitted\": false\n    },\n    {\n      \"name\": \"Lives\",\n
        \     \"id\": \"lives\",\n      \"type\": \"Integer\",\n      \"validations\":
        [],\n      \"localized\": false,\n      \"required\": false,\n      \"disabled\":
        false,\n      \"omitted\": false\n    },\n    {\n      \"name\": \"Best Friend\",\n
        \     \"id\": \"bestFriend\",\n      \"type\": \"Link\",\n      \"linkType\":
        \"Entry\",\n      \"localized\": false,\n      \"required\": false,\n      \"disabled\":
        false,\n      \"omitted\": false,\n      \"validations\": []\n    },\n    {\n
        \     \"name\": \"Likes\",\n      \"id\": \"likes\",\n      \"type\": \"Array\",\n
        \     \"items\": {\n        \"type\": \"Symbol\"\n      }\n    }\n  ],\n  \"displayField\":
        \"name\",\n  \"description\": \"\",\n  \"sys\": {\n    \"id\": \"cat\",\n
        \   \"type\": \"ContentType\",\n    \"createdAt\": \"2017-05-08T14:06:00.224Z\",\n
        \   \"createdBy\": {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\":
        \"User\",\n        \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"space\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"Space\",\n
        \       \"id\": \"facgnwwgj5fe\"\n      }\n    },\n    \"firstPublishedAt\":
        \"2017-05-08T14:06:00.749Z\",\n    \"publishedCounter\": 2,\n    \"publishedAt\":
        \"2017-06-26T17:09:50.074Z\",\n    \"publishedBy\": {\n      \"sys\": {\n
        \       \"type\": \"Link\",\n        \"linkType\": \"User\",\n        \"id\":
        \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    },\n    \"publishedVersion\": 3,\n
        \   \"version\": 4,\n    \"updatedAt\": \"2017-06-26T17:09:50.091Z\",\n    \"updatedBy\":
        {\n      \"sys\": {\n        \"type\": \"Link\",\n        \"linkType\": \"User\",\n
        \       \"id\": \"4SejVrWT96dvL9IV4Nb7sQ\"\n      }\n    }\n  }\n}\n"}
    headers:
      Content-Type: [application/vnd.contentful.management.v1+json]
      ETag: ['"4a3b9cf8f5b52c9f758b498e141e89c8"']
      X-CDN: [Incapsula]
      X-Contentful-RateLimit-Hour-Limit: ['36000']
      X-Contentful-RateLimit-Hour-Remaining: ['35958']
      X-Contentful-RateLimit-Reset: ['0']
      X-Contentful-RateLimit-Second-Limit: ['10']
      X-Contentful-RateLimit-Second-Remaining: ['9']
      X-Contentful-Request-Id: [3ffb1e8a591b42b7f47343747b65af77]
      X-Iinfo: [9-62464110-62464132 NNNN CT(133 282 0) RT(1499094657505 136) q(0 0
          4 -1) r(7 7) U5]
    status: {code: 200, message: OK}
- request:
    body: '{"fields": [{"omitted": false, "id": "name", "disabled": false, "validations":
      [], "name": "Name", "required": false, "type": "Symbol", "localized": false},
      {"omitted": false, "id": "lives", "disabled": false, "validations": [], "name":
      "Lives", "required": false, "type": "Integer", "localized": false}, {"omitted":
      false, "id": "bestFriend", "disabled": false, "validations": [], "name": "Best
      Friend", "required": false, "linkType": "Entry", "type": "Link", "localized":
      false}, {"omitted": false, "id": "likes", "disabled": false, "validations":
      [], "name": "Likes", "required": false, "type": "Array", "localized": false,
      "items": {"type": "Symbol"}}], "displayField": "name", "name": "Foo Cat", "description":
      ""}'
    headers:
      Authorization: [Bearer foobar]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [os macOS/16.5.0; platform python/3.5.2; sdk contentful-management.py/1.3.1;]
      x-contentful-version: ['4']
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/cat
  response:
    body: {string: "{\n  \"fields\": [\n    {\n      \"omitted\": false,\n      \"id\":
        \"name\",\n      \"disabled\": false,\n      \"validations\": [],\n      \"name\":
        \"Name\",\n      \"required\": false,\n      \"type\": \"Symbol\",\n      \"localized\":
        false\n    },\n    {\n      \"omitted\": false,\n      \"id\": \"lives\",\n
        \  [...]
[...]
