interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.13.0; platform python/3.11.4; os macOS/22.6.0;
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/test123
  response:
    body:
      string: '{"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"id":"test123","type":"ContentType","createdAt":"2023-09-22T07:34:08.336Z","updatedAt":"2023-09-22T08:41:11.698Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":8,"publishedAt":"2023-09-22T08:34:43.737Z","firstPublishedAt":"2023-09-22T07:34:08.651Z","createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"publishedCounter":3,"version":11,"publishedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}}},"displayField":"hello","name":"test123","description":"","fields":[{"id":"hello","name":"hello","type":"Symbol","localized":false,"required":false,"validations":[],"defaultValue":{"en-US":"bhushan"},"disabled":false,"omitted":false}]}

        '
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-RateLimit-Hour-Limit:
      - '36000'
      X-Contentful-RateLimit-Hour-Remaining:
      - '35999'
      X-Contentful-RateLimit-Reset:
      - '0'
      X-Contentful-RateLimit-Second-Limit:
      - '10'
      X-Contentful-RateLimit-Second-Remaining:
      - '9'
      etag:
      - '"3310959143573608758"'
      x-contentful-request-id:
      - 3466a49e-9a5f-414c-9caf-7a2ebfb7dd83
      x-contentful-route:
      - /spaces/:space/environments/:environment/content_types/:id
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test123", "description": "", "displayField": "hello", "fields":
      [{"name": "hello", "id": "hello", "type": "Symbol", "localized": false, "omitted":
      false, "required": false, "disabled": false, "validations": [], "defaultValue":
      {"en-US": "bhushan"}}]}'
    headers:
      Authorization:
      - Bearer foobar
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-User-Agent:
      - sdk contentful-management.py/2.13.0; platform python/3.11.4; os macOS/22.6.0;
      x-contentful-version:
      - '11'
    method: PUT
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/test123
  response:
    body:
      string: '{"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"facgnwwgj5fe"}},"id":"test123","type":"ContentType","createdAt":"2023-09-22T07:34:08.336Z","updatedAt":"2023-09-22T08:42:22.146Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":8,"publishedAt":"2023-09-22T08:34:43.737Z","fi[...]
