interactions:
- request:
    body: null
    headers:
      Authorization: [Bearer <ACCESS_TOKEN>]
      Content-Type: [application/vnd.contentful.management.v1+json]
      X-Contentful-User-Agent: [sdk contentful-management.py/2.0.0; platform python/3.6.3;
          os macOS/16.7.0;]
    method: GET
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/preview_api_keys
  response:
    body: {string: "{\n  \"total\":5,\n  \"limit\":25,\n  \"skip\":0,\n  \"sys\":{\n
        \   \"type\":\"Array\"\n  },\n  \"items\":[\n    {\n      \"name\":\"Example
        Key\",\n      \"description\":\"We\u2019ve created an example API key for
        you to help you get started.\",\n      \"accessToken\":\"PREVIEW_TOKEN\",\n
        \     \"policies\":[\n        {\n          \"effect\":\"allow\",\n          \"actions\":\"all\"\n
        \       }\n      ],\n      \"sys\":{\n        \"type\":\"PreviewApiKey\",\n
        \       \"id\":\"22j3CYO1195Bl2QvuXWFMO\",\n        \"version\":0,\n        \"space\":{\n
        \         \"sys\":{\n            \"type\":\"Link\",\n            \"linkType\":\"Space\",\n
        \           \"id\":\"facgnwwgj5fe\"\n          }\n        },\n        \"createdBy\":{\n
        \         \"sys\":{\n            \"type\":\"Link\",\n            \"linkType\":\"User\",\n
        \           \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n          }\n        },\n        \"createdAt\":\"2017-03-02T18:30:40Z\",\n
        \       \"updatedBy\":{\n          \"sys\":{\n            \"type\":\"Link\",\n
        \           \"linkType\":\"User\",\n            \"id\":\"4SejVrWT96dvL9IV4Nb7sQ\"\n
        \         }\n        },\n        \"updatedAt\":\"2017-03-02T18:30:40Z\"\n
        \     },\n      \"environments\":[\n        {\n          \"sys\":{\n            \"id\":\"master\",\n
        \           \"type\":\"Link\",\n            \"linkType\":\"Environment\"\n
        \         }\n        }\n      ]\n    },\n    {\n      \"name\":\"management.py
        - playground 1\",\n      \"description\":null,\n      \"accessToken\":\"PREVIEW_TOKEN\",\n
        \     \"policies\":[\n        {\n          \"effect\":\"allow\",\n          \"actions\":\"all\"\n
        \       }\n      ],\n      \"sys\":{\n        \"t[...]
